@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  color: #263238;
  position: relative;
}

p {
  line-height: 1.5;
}

a {
  color: #1177dd;
}
a:hover {
  text-decoration: underline;
}

main {
  display: block;
}

.ofi_cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

@media screen and (min-width: 768px) {
  .pc_br {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .pc_br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp_br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sp_br {
    display: inline;
  }
}

.anchor {
  display: block;
  margin-top: -40px;
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .anchor {
    margin-top: -16px;
    padding-top: 16px;
  }
}

.header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .header_wrap {
    height: 48px;
    padding-left: 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header_wrap {
    padding-left: 16px;
  }
}
.header_logo {
  width: 148px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .header_logo {
    width: 96px;
  }
}

.footer {
  display: block;
  text-align: center;
}
.footer .footer_wrap {
  padding: 20px 0;
  background: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap {
    padding: 16px 0;
  }
}
.footer .footer_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap ul {
    margin-bottom: 16px;
  }
}
.footer .footer_wrap ul li {
  font-size: 14px;
  padding: 0 0 0 8px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap ul li {
    font-size: 11px;
  }
}
.footer .footer_wrap ul li a {
  color: #424242;
  text-decoration: none;
}
.footer .footer_wrap ul li a:hover {
  text-decoration: underline;
}
.footer .footer_wrap ul li:after {
  content: "|";
  display: inline-block;
  padding: 0 0 0 8px;
}
.footer .footer_wrap ul li:last-child {
  padding-right: 8px;
}
.footer .footer_wrap ul li:last-child:after {
  content: "";
}
.footer .footer_wrap #copyright p {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap #copyright p {
    font-size: 11px;
  }
}
.footer .ad_number {
  padding: 0 0 24px;
}
.footer .ad_number p {
  color: #424242;
  display: block;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer .ad_number p {
    font-size: 11px;
  }
}

[class^=section_] .inner {
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  [class^=section_] .inner {
    max-width: calc(100% - 32px);
  }
}

.section_mv {
  font-size: 0;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .section_mv {
    margin: 0 auto;
  }
}
.section_mv .inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section_mv .inner {
    min-height: 810px;
  }
}
@media screen and (max-width: 767px) {
  .section_mv .inner {
    height: auto;
  }
}
.section_mv .kv {
  height: 500px;
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .section_mv .kv {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_mv .kv {
    height: calc(100vw / 1080 * 500);
  }
}
.section_mv .lead {
  height: 310px;
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .section_mv .lead {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_mv .lead {
    height: calc(100vw / 1080 * 310);
  }
}
@media screen and (min-width: 768px) {
  .section_mv .mv_pc {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .section_mv .mv_pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section_mv .mv_sp {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section_mv .mv_sp {
    display: block;
  }
}

.section_01 {
  margin: 0 auto;
}
.section_01 .inner {
  padding: 72px 0 48px;
}
@media screen and (max-width: 767px) {
  .section_01 .inner {
    padding: 48px 16px 32px;
  }
}
.kuchikomi_post {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
  padding: 38px 42px 28px;
  border: 2px solid #5b4637;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post {
    padding: 32px 16px 16px;
  }
}
.kuchikomi_post_wrap {
  margin-bottom: 32px;
  padding: 32px 0;
}
.kuchikomi_post_midashi {
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  margin-bottom: 8px;
  text-align: center;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_midashi {
    max-width: 200px;
    top: -16px;
    margin: auto;
  }
}
.kuchikomi_post_attention {
  text-align: right;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_attention {
    margin-top: 16px;
    text-align: left;
    font-size: 12px;
  }
}
.kuchikomi_post_genre_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -16px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .kuchikomi_post_genre_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_genre_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -8px;
    margin-left: -8px;
  }
}
.kuchikomi_post_genre_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 123px;
  height: 122px;
  margin-left: 16px;
  margin-bottom: 16px;
  background: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  color: #424242;
  -webkit-box-shadow: 0px 2px 4px #00000033;
          box-shadow: 0px 2px 4px #00000033;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_genre_list_item {
    width: calc(50% - 8px);
    height: 48px;
    margin: 8px 0 0 8px;
    padding: 0 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 6px;
  }
}
.kuchikomi_post_genre_list_item:hover {
  text-decoration: none;
  opacity: 0.5;
}
.kuchikomi_post_genre_list_item_icon {
  width: 48px;
  height: 44px;
  margin-top: 12px;
  font-size: 48px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_genre_list_item_icon {
    width: 24px;
    height: 24px;
    margin: 0;
    font-size: 24px;
  }
}
.kuchikomi_post_genre_list_item_icon .icon-gourmet {
  color: #e61;
}
.kuchikomi_post_genre_list_item_icon .icon-takeout {
  color: #d42;
}
.kuchikomi_post_genre_list_item_icon .icon-cake {
  color: #c00;
}
.kuchikomi_post_genre_list_item_icon .icon-relax {
  color: #951;
}
.kuchikomi_post_genre_list_item_icon .icon-sekkotsu {
  color: #26a;
}
.kuchikomi_post_genre_list_item_icon .icon-pet {
  color: #b81;
}
.kuchikomi_post_genre_list_item_icon .icon-odekake {
  color: #e47;
}
.kuchikomi_post_genre_list_item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_genre_list_item_text {
    font-size: 14px;
  }
}

.section_02 {
  background: #fffae6;
}
.section_02 .inner {
  padding: 48px 0;
}
@media screen and (max-width: 767px) {
  .section_02 .inner {
    padding: 32px 16px;
  }
}
.section_02 .campaign_detail_midashi {
  margin-bottom: 24px;
  font-size: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_midashi img {
    width: 100%;
  }
}
.section_02 .campaign_detail_body_upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_body_upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
  }
}
.section_02 .campaign_detail_body_lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_body_lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section_02 .campaign_detail_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 24px;
  padding: 24px;
  background: #fff;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_box {
    margin: 0 0 16px 0;
    padding: 16px;
  }
}
.section_02 .campaign_detail_box:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_box:last-child {
    margin-bottom: 0;
  }
}
.section_02 .campaign_detail_box_image {
  margin-bottom: 16px;
  text-align: center;
  font-size: 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_02 .campaign_detail_box_image img {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_box_image img {
    max-width: 100%;
  }
}
.section_02 .campaign_detail_box_note_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  line-height: 1.3;
}
.section_02 .campaign_detail_box_note_title_number {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 16px;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_box_note_title_number {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: 8px;
  }
}
.section_02 .campaign_detail_box_note_title_number img {
  width: 100%;
}
.section_02 .campaign_detail_box_note_title p {
  font-size: 20px;
  font-weight: bold;
  color: #5db41a;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_box_note_title p {
    font-size: 16px;
  }
}
.section_02 .campaign_detail_box_note_text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
}
.section_02 .campaign_detail_box_note_text span {
  color: #f93d3d;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_box_note_text {
    font-size: 13px;
  }
}
.section_02 .campaign_detail_text {
  text-align: right;
  font-size: 16px;
  color: #757575;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_02 .campaign_detail_text {
    text-align: left;
    font-size: 13px;
  }
}

.section_03 .inner {
  padding: 48px 0 72px;
}
@media screen and (max-width: 767px) {
  .section_03 .inner {
    padding: 32px 16px 48px;
  }
}
.section_03 .inner + .inner {
  padding: 0 0 48px;
}
@media screen and (max-width: 767px) {
  .section_03 .inner + .inner {
    padding: 0 0 32px;
  }
}
.section_03 .campaign_attention_midashi {
  margin: 0 auto 24px;
  font-size: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_midashi img {
    width: 100%;
  }
}
.section_03 .campaign_attention_label {
  display: inline-block;
  margin-bottom: 16px;
  padding: 4px 24px;
  background: #ffeb2e;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #5db41a;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_label {
    font-size: 15px;
  }
}
.section_03 .campaign_attention_box {
  margin: 0 auto 48px;
}
.section_03 .campaign_attention_box:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_box {
    margin-bottom: 24px;
  }
}
.section_03 .campaign_attention_box2 {
  margin: 0 auto 48px;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_box2 {
    margin-bottom: 16px;
  }
}
.section_03 .campaign_attention_box2 .campaign_attention_text {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_box2 .campaign_attention_text {
    font-size: 11px;
  }
}
.section_03 .campaign_attention_box2 .campaign_attention_text + .campaign_attention_text {
  margin-top: 8px;
}
.section_03 .campaign_attention_text {
  font-size: 18px;
  line-height: 1.3;
}
.section_03 .campaign_attention_text + .campaign_attention_text {
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_text {
    font-size: 13px;
  }
}
.section_03 .campaign_attention_text .outline1 {
  color: #f93d3d;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_text .outline1 {
    font-size: 18px;
    line-height: 1.5;
  }
}
.section_03 .campaign_attention_text .outline2 {
  color: #f93d3d;
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_text .outline2 {
    font-size: 13px;
  }
}
.section_03 .campaign_attention_text .outline2.bold {
  font-weight: bold;
}
.section_03 .campaign_attention_text .note {
  color: #757575;
  font-size: 16px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_text .note {
    font-size: 11px;
    text-indent: -1em;
    margin-left: 1em;
    line-height: 1.5;
  }
}
.section_03 .campaign_attention_list_item {
  position: relative;
  margin-left: 16px;
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_list_item {
    font-size: 13px;
  }
}
.section_03 .campaign_attention_list_item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffeb2e;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_list_item:before {
    top: 4px;
  }
}
.section_03 .campaign_attention_list_item:nth-child(n+2) {
  margin-top: 16px;
}
.section_03 .campaign_attention_list_item span {
  color: #f93d3d;
  font-weight: bold;
}
.section_03 .campaign_attention_list_note {
  margin-top: 8px;
  padding-left: 1em;
  font-size: 16px;
  text-indent: -1em;
  line-height: 1.5;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_list_note {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  .section_03 .campaign_attention_list {
    font-size: 11px;
  }
}

.section_04 {
  background: #fffae6;
}
.section_04 .inner {
  padding: 48px 0;
}
@media screen and (max-width: 767px) {
  .section_04 .inner {
    padding: 32px 16px;
  }
}
.section_04 .campaign_qa_midashi {
  margin: 0 auto 24px;
  font-size: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_midashi {
    margin: 0 auto 24px;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_midashi img {
    width: 100%;
  }
}
.section_04 .campaign_qa_list_box {
  margin-bottom: 24px;
}
.section_04 .campaign_qa_list_box:last-child {
  margin-bottom: 0;
}
.section_04 .campaign_qa_list_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  line-height: 1.7;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_list_title {
    font-size: 13px;
  }
}
.section_04 .campaign_qa_list_answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_list_answer {
    font-size: 13px;
  }
}
.section_04 .campaign_qa_list_icon {
  position: relative;
  top: 2px;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.section_04 .campaign_qa_list_icon img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_list_icon {
    top: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
.section_04 .campaign_qa_list_text {
  position: relative;
  top: -1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_list_text {
    font-size: 13px;
  }
}
.section_04 .campaign_qa_list_text p {
  line-height: 1.5;
}
.section_04 .campaign_qa_list_text p + p {
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_list_text p + p {
    margin-top: 8px;
  }
}
.section_04 .campaign_qa_list_text span {
  font-size: 16px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .section_04 .campaign_qa_list_text span {
    display: block;
    margin-top: 8px;
    font-size: 11px;
  }
}
.section_04 .campaign_qa_list_text span.emphasis {
  color: #f93d3d;
}

.section_05 .inner {
  padding: 72px 0 48px;
}
@media screen and (max-width: 767px) {
  .section_05 .inner {
    padding: 48px 16px 32px;
  }
}