#season-color {
  background: #212529 !important;
}

footer {
  background: #eee !important;
}

#inside {
  background: #212529 !important;
}

.kv_back {
  background-color: #212529 !important;
}

.border_white {
  border: 1px solid #e5e5e5;
}
