@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  color: #424242;
  position: relative;
}

p {
  line-height: 1.5;
}

a {
  color: #00AAD6;
}
a:hover {
  text-decoration: underline;
}
a.img_link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a.img_link:hover {
  text-decoration: none;
  opacity: 0.5;
}

main {
  display: block;
}

.ofi_cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

@media screen and (min-width: 768px) {
  .pc_br {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .pc_br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp_br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sp_br {
    display: inline;
  }
}

.anchor {
  display: block;
  margin-top: -40px;
  padding-top: 40px;
}
.header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .header_wrap {
    height: 48px;
    padding-left: 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header_wrap {
    padding-left: 16px;
  }
}
.header_logo {
  width: 148px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .header_logo {
    width: 96px;
  }
}
.header_logo img {
  height: 31px;
}
@media screen and (max-width: 767px) {
  .header_logo img {
    height: auto;
  }
}

.footer {
  display: block;
  text-align: center;
}
.footer .footer_wrap {
  padding: 20px 0;
  background: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap {
    padding: 16px 0;
  }
}
.footer .footer_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap ul {
    margin-bottom: 16px;
  }
}
.footer .footer_wrap ul li {
  font-size: 14px;
  padding: 0 0 0 8px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap ul li {
    font-size: 11px;
  }
}
.footer .footer_wrap ul li a {
  color: #424242;
  text-decoration: none;
}
.footer .footer_wrap ul li a:hover {
  text-decoration: underline;
}
.footer .footer_wrap ul li:after {
  content: "|";
  display: inline-block;
  padding: 0 0 0 8px;
}
.footer .footer_wrap ul li:last-child {
  padding-right: 8px;
}
.footer .footer_wrap ul li:last-child:after {
  content: "";
}
.footer .footer_wrap #copyright p {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap #copyright p {
    font-size: 11px;
  }
}
.footer .ad_number {
  padding: 0 0 24px;
  background: #fff;
}
.footer .ad_number p {
  color: #424242;
  display: block;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer .ad_number p {
    font-size: 11px;
  }
}

[class^=section_] .inner {
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  [class^=section_] .inner {
    max-width: calc(100% - 32px);
  }
}

.common_mLabel, .section_02 .inner .attention_mLabel, .section_02 .inner .section_mLabel, .section_01 .section_mLabel, .mv .mv_mLabel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fcee21;
  border-radius: 32px;
  font-weight: bold;
  color: #ff3947;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .common_mLabel, .section_02 .inner .attention_mLabel, .section_02 .inner .section_mLabel, .section_01 .section_mLabel, .mv .mv_mLabel {
    height: 48px;
    padding: 8px 64px;
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .common_mLabel, .section_02 .inner .attention_mLabel, .section_02 .inner .section_mLabel, .section_01 .section_mLabel, .mv .mv_mLabel {
    width: 100%;
    height: 36px;
    font-size: 15px;
  }
}

.mv {
  font-size: 0;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .mv {
    margin: 0 auto;
  }
}
.mv .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv .inner {
    min-height: 640px;
  }
}
@media screen and (max-width: 767px) {
  .mv .inner {
    min-height: 500px;
  }
}
.mv .kv {
  height: 640px;
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .mv .kv {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .mv .kv {
    height: 59.2592592593vw;
  }
}
.mv .mv_image {
  position: absolute;
  top: 0;
}
.mv .mv_space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mv .mv_intro {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 64px;
}
@media screen and (max-width: 767px) {
  .mv .mv_intro {
    top: 32px;
    padding: 0 16px;
  }
}
.mv .mv_anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 0;
}
@media screen and (min-width: 768px) {
  .mv .mv_anchor {
    margin-left: -32px;
  }
}
@media screen and (max-width: 767px) {
  .mv .mv_anchor {
    margin-top: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.mv .mv_anchor_box:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .mv .mv_anchor_box {
    margin-left: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mv .mv_anchor_box {
    margin-top: 4px;
  }
}

.section_01 {
  margin: 0 auto;
  background: #fff;
}
.section_01 .inner {
  max-width: 960px;
  padding: 48px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section_01 .inner {
    padding: 80px 16px 72px;
  }
}
.section_01 .section_midashi {
  margin-bottom: 16px;
  font-size: 0;
}
.section_01 .section_intro {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #424242;
}
@media screen and (max-width: 767px) {
  .section_01 .section_intro {
    font-size: 15px;
  }
}
.section_01 .section_mLabel {
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .section_01 .section_mLabel {
    margin-bottom: 16px;
  }
}
.section_01 .product1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -32px;
  margin-left: -32px;
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .section_01 .product1 {
    display: block;
    margin-top: -16px;
    margin-left: 0;
  }
}
.section_01 .product1_box {
  width: calc(50% - 32px);
  margin-top: 32px;
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .section_01 .product1_box {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
}
.section_01 .product1_box_image {
  margin-bottom: 8px;
  font-size: 0;
}
.section_01 .product1_box_image a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section_01 .product1_box_text {
  padding: 4px 0;
  background: #e0e0e0;
  color: #424242;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_01 .product1_box_text {
    font-size: 13px;
  }
}
.section_01 .product1_note {
  width: 100%;
  margin-top: 32px;
  margin-left: 32px;
  font-size: 14px;
  color: #757575;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .section_01 .product1_note {
    margin-left: 0;
    font-size: 11px;
  }
}
.section_01 .product2 {
  margin-top: -32px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .section_01 .product2 {
    margin-top: -16px;
  }
}
.section_01 .product2_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  padding: 32px;
  background: #fefdee;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_box {
    display: block;
    margin-top: 16px;
    padding: 16px;
  }
}
.section_01 .product2_image {
  font-size: 0;
}
@media screen and (min-width: 768px) {
  .section_01 .product2_image {
    width: 300px;
    max-height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product2_image {
    width: 100%;
    margin-bottom: 16px;
  }
}
.section_01 .product2_image a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section_01 .product2_right_wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_right_wrap {
    margin-left: 0;
  }
}
.section_01 .product2_brandname {
  margin-bottom: 8px;
  font-size: 12px;
  color: #757575;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_brandname {
    font-size: 11px;
  }
}
.section_01 .product2_goodsname {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #00aad6;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_goodsname {
    font-size: 15px;
  }
}
.section_01 .product2_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_01 .product2_price .price_text {
  margin-right: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_price .price_text {
    font-size: 15px;
  }
}
.section_01 .product2_price .price_tax {
  margin-right: 2px;
  font-size: 12px;
  color: #757575;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_price .price_tax {
    margin-right: 2px;
    font-size: 11px;
  }
}
.section_01 .product2_price .price_postage {
  padding: 4px;
  font-size: 12px;
  color: #ff3947;
  border: 1px solid #ff3947;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_price .price_postage {
    font-size: 11px;
  }
}
.section_01 .product2_hr {
  margin: 16px 0;
  border-top: 1px solid #e0e0e0;
}
.section_01 .product2_description_title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_description_title {
    font-size: 13px;
  }
}
.section_01 .product2_description_text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_description_text {
    font-size: 13px;
  }
}
.section_01 .product2_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 224px;
  height: 64px;
  background: #ff3947;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .section_01 .product2_button {
    width: 100%;
    height: 60px;
  }
}
.section_01 .product2_button:hover {
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section_01 .product2_button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_button_wrap {
    margin-top: -8px;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section_01 .product2_button_box {
  margin-left: 16px;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_button_box {
    margin-top: 8px;
    margin-left: 0;
    width: 100%;
  }
}
.section_01 .product2_button_text1 {
  margin-bottom: 4px;
  padding: 2px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_01 .product2_button_text1 {
    font-size: 10px;
  }
}
.section_01 .product2_button_text2 {
  font-size: 18px;
  font-weight: bold;
  color: #fcee21;
  line-height: 1.3;
}
.section_01 .product3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -32px;
  margin-left: -32px;
}
@media screen and (min-width: 768px) {
  .section_01 .product3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}
.section_01 .product3_box {
  width: calc(25% - 32px);
  margin-top: 32px;
  margin-left: 32px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .section_01 .product3_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product3_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product3_upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .section_01 .product3_lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.section_01 .product3_image {
  font-size: 0;
}
@media screen and (min-width: 768px) {
  .section_01 .product3_image {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product3_image {
    width: 128px;
  }
}
.section_01 .product3_image a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_right_wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 16px;
    text-align: left;
  }
}
.section_01 .product3_brandname {
  margin-bottom: 8px;
  font-size: 12px;
  color: #757575;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_brandname {
    font-size: 11px;
  }
}
.section_01 .product3_goodsname {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #00aad6;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_goodsname {
    font-size: 15px;
  }
}
.section_01 .product3_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_01 .product3_price .price_text {
  margin-right: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_price .price_text {
    font-size: 15px;
  }
}
.section_01 .product3_price .price_tax {
  margin-right: 2px;
  font-size: 12px;
  color: #757575;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_price .price_tax {
    font-size: 11px;
  }
}
.section_01 .product3_price .price_postage {
  padding: 4px;
  font-size: 12px;
  color: #ff3947;
  border: 1px solid #ff3947;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_price .price_postage {
    font-size: 11px;
  }
}
.section_01 .product3_hr {
  margin: 16px 0;
  border-top: 1px solid #e0e0e0;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_hr {
    display: none;
  }
}
.section_01 .product3_description_title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_description_title {
    font-size: 13px;
  }
}
.section_01 .product3_description_text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section_01 .product3_description_text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product3_description_text {
    font-size: 13px;
  }
}
.section_01 .product3_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 64px;
  background: #ff3947;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .section_01 .product3_button {
    width: 100%;
    height: 60px;
  }
}
.section_01 .product3_button:hover {
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section_01 .product3_button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -8px;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_button_wrap {
    margin-top: 0;
    margin-left: -16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section_01 .product3_button_box {
  margin-top: 8px;
  min-height: 64px;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_button_box {
    width: 100%;
    margin-top: 0;
    margin-left: 16px;
    min-height: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section_01 .product3_button_box.button_box_empty {
    display: none;
  }
}
.section_01 .product3_button_text1 {
  margin-bottom: 4px;
  padding: 2px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_button_text1 {
    font-size: 10px;
  }
}
.section_01 .product3_button_text2 {
  font-size: 18px;
  font-weight: bold;
  color: #fcee21;
  line-height: 1.3;
}
.section_01 .product3_note {
  width: 100%;
  margin-top: 32px;
  margin-left: 32px;
  font-size: 14px;
  color: #757575;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .section_01 .product3_note {
    margin-left: 0;
    font-size: 11px;
  }
}

.section_02 .inner {
  max-width: 960px;
  padding: 0 0 32px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section_02 .inner {
    padding: 0 16px 16px;
  }
}
.section_02 .inner .section_midashi {
  margin-bottom: 16px;
  font-size: 0;
}
.section_02 .inner .section_intro {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #424242;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .section_intro {
    font-size: 15px;
  }
}
.section_02 .inner .section_mLabel {
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .section_mLabel {
    margin-bottom: 16px;
  }
}
.section_02 .inner .target_genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -32px;
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .target_genre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -16px;
    margin-left: 0;
  }
}
.section_02 .inner .target_genre_box {
  width: calc(50% - 32px);
  margin-left: 32px;
  padding: 16px;
  background: #fefdee;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .target_genre_box {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
}
.section_02 .inner .target_genre_box_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ff3947;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .target_genre_box_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section_02 .inner .target_genre_box_title_label {
  padding: 0 8px;
  background: #ff3947;
  border-radius: 32px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .target_genre_box_title_label {
    padding: 2px 8px;
    font-size: 11px;
  }
}
.section_02 .inner .target_genre_box_title_text {
  margin-left: 8px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .target_genre_box_title_text {
    margin: 8px 0 0;
    font-size: 18px;
  }
}
.section_02 .inner .target_genre_box_text {
  font-size: 16px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .target_genre_box_text {
    font-size: 13px;
  }
}
.section_02 .inner .target_genre_box_text span {
  color: #ff3947;
  font-weight: bold;
}
.section_02 .inner .target_genre_box_tri {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 6px 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #fcee21 transparent transparent transparent;
}
.section_02 .inner .attention {
  padding: 32px;
  background: #fafafa;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .attention {
    padding: 32px 16px;
  }
}
.section_02 .inner .attention_mLabel {
  margin-bottom: 32px;
  color: #fff;
  background: #ff3947;
}
.section_02 .inner .attention_list {
  text-align: left;
}
.section_02 .inner .attention_list + .attention_list {
  margin-top: 32px;
}
.section_02 .inner .attention_list_title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #ff3947;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .attention_list_title {
    font-size: 13px;
  }
}
.section_02 .inner .attention_list_text {
  position: relative;
  margin-left: 16px;
  font-size: 18px;
  line-height: 1.5;
  color: #263238;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .attention_list_text {
    font-size: 13px;
  }
}
.section_02 .inner .attention_list_text + .attention_list_text {
  margin-top: 16px;
}
.section_02 .inner .attention_list_text:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #757575;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .section_02 .inner .attention_list_text:before {
    top: 6px;
    width: 6px;
    height: 6px;
  }
}