/* --------------------
Normalize.css
-------------------- */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* --------------------
general
-------------------- */
html {
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  color: #464646;
}
.page-content {
  width: 100%;
  overflow-x: hidden;
}
body {
  color: #464646;
  overflow-x: hidden;
  line-height: 1.8;
  font-family: roboto, 'Roboto','source-han-sans-japanese', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", YuGothic, Meiryo, Arial, sans-serif;
}
.is-corp {
  font-family: corporate-logo-ver2, sans-serif;
}
@media screen and (min-width:768px){
  body {
    line-height: 1.6;
  }
}
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop, body {
    font-family: roboto, 'Roboto', Meiryo, Arial, sans-serif;
  }
  *::-ms-backdrop, .is-maru {
    font-family: roboto, 'Roboto', Meiryo, Arial, sans-serif;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
h2 {
  letter-spacing: 2px;
}
h5 {
  font-weight: bold;
}
h6 {
  font-weight: bold;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
table {border-collapse: collapse;font-size: inherit;}
table td,th {padding: 6px;}
table th {font-weight: bold; text-align: left; 	width: auto;}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
img {
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
a {
  cursor: pointer;
  color: #1E70FE;
  text-decoration: underline;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
a:hover {
  opacity: 0.6;
}
section {
  display: block;
}
.img-full {
  display: block;
  width: 100%;
  height: auto;
}
.txt-inline {
  color: inherit;
}
.txt-inline-pc {
  color:inherit;
}
@media screen and (max-width:350px){
  .min-hide {
    display: none!important;
  }
  .txt-inline {
    display: inline-block;
  }
}
@media screen and (max-width:767px){
  .sp-hide {
    display: none!important;
  }
}
@media screen and (min-width:768px){
  .pc-hide {
    display: none!important;
  }
}
@media screen and (min-width:768px) and (max-width:1100px){
  .txt-inline-pc {
    display: inline-block;
  }
}
.is-hide {
  display: none;
}
.txt-st {
  font-size: 120%;
  font-weight: bold;
}
.txt-orange {
  color: #fe8f00;
}
/* --------------------
header
-------------------- */
.ga-logo {
  display: block;
  background: #fff;
  padding: 15px 15px;
}
.ga-logo p {
  width: 96px;
  margin: 0;
  padding: 0;
}
.ga-logo p a {
  display: block;
}
@media screen and (min-width:768px){
  .ga-logo {
    padding: 25px 90px;
  }
  .ga-logo p {
    width: 148px;
  }
}
/* --------------------
countdown
-------------------- */
.countdown-container {
  background: #eddbae;
  font-size: 15px;
  text-align: center;
}
.countdown {
  display: inline-block;
  color: #453B1A;
  line-height: 35px;
}
.countdown span {
  color: #453B1A;
  font-size: 22px;
  position: relative;
  top: 0.08em;
}
@media screen and (min-width:768px) {
  .countdown-container {
    font-size: 18px;
  }
  .countdown {
    line-height: 45px;
  }
  .countdown span {
    font-size: 32px;
  }
}
/* --------------------
main
-------------------- */
.main {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 0 0;
  background: url(../image/bg-main-sp.png) no-repeat center center,#B4000F;
  background: 100% auto;
}
.main-inner {
  padding: 0 0 12px;
  background: url(../image/bg-main01.png) repeat-x left bottom, #B4000F;
  background-size: 348px 27px;
}
.main-img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-lst {
  display: flex;
  justify-content: space-between;
  width: 94%;
  max-width: 600px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.main-lst-item {
  width: 50%;
}
.main-lst-item a {
  display: block;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.main-lst-item a:hover {
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.modalArea {
  width: 94%;
  max-width: 361px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(0,0,0,0.8);
  border-radius: 12px;
  padding: 32px 16px;
}
.modal-text {
  color: #fff;
  font-size: 19px;
  text-align: center;
  line-height: 1.3;
}
.modal-text span {
  color: #fff;
  font-size: 15px;
}
.modal-bnr-ttl {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-top: 24px;
}
.modal-bnr-img {
  font-size: 0;
  width: 100%;
  margin: 4px auto 0;
}
.modal-bnr-clickArea {
  display: inline-block;
}
.modal-bnr-clickArea img {
  width: 100%;
}
@media screen and (min-width:768px){
  .main {
    background: url(../image/bg-main-pc.png) no-repeat center center,#B4000F;
    background-size: cover;
  }
  .main-img {
    max-width: 1080px;
    margin: 0 auto;
  }
  .main-inner {
    padding: 0 0 26px;
    background: url(../image/bg-main01.png) repeat-x left bottom;
    background-size: 540px auto;
  }
  .main-lst {
    max-width: 1080px;
  }
  .modalArea {
    max-width: 768px;
    padding: 40px 16px;
  }
  .modal-text {
    font-size: 35px;
  }
  .modal-text span {
    font-size: 22px;
  }
  .modal-bnr-ttl {
    font-size: 22px;
  }
  .modal-bnr-img {
    max-width: 620px;
    margin: 8px auto 0;
  }
}
/* --------------------
campaign
-------------------- */
.campaign {
  display: block;
  margin: 0;
  padding: 25px 0 0;
  background: url(../image/bg-campaing01.png) no-repeat top -80px left -100px #FF9D9B;
  background-size: 392px 419px;
}
.campaign03 {
  padding: 30px 0 0;
}
.campaign-lbl {
  position: relative;
  max-width: 392px;
  width: 98%;
  margin: 0 auto -45px;
  z-index: 1;
}
.campaign-cnt {
  background: url(../image/bg-campaign.png) repeat top left;
  background-size: 203px auto;
  padding: 65px 0 0;
}
.campaign-cnt02 {
  padding: 1px 0 40px;
}
.campaign-cnt03 {
  background: url(../image/bg-campaign05.png) repeat top left;
  background-size: 203px auto;
  padding: 55px 0 0;
}
.campaign-cnt04 {
  background: url(../image/bg-campaign05.png) repeat top left;
  background-size: 203px auto;
  padding: 25px 0 0;
}
.campaign-txt {
  position: relative;
  width: 100%;
  max-width: 380px;
  font-size: 22px;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  color: #123A75;
  line-height: 1.3;
}
.campaign-txt:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 36px;
  background: url(../image/obj-img01.png) no-repeat top left;
  background-size: 15px 35px;
  left: 0;
  bottom: 0;
}
.campaign-txt:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 36px;
  background: url(../image/obj-img01.png) no-repeat top left;
  background-size: 15px 35px;
  transform: scale(-1, 1);
  right: 0;
  bottom: 0;
}
.campaign-cnt-ttl {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  padding: 40px 0 0;
  margin: 15px 0 0;
  color: #B4000F;
  background: url(../image/bg-campaign02.png) repeat-x top left;
  background-size: 348px auto;
}
.campaign-cnt-inner {
  margin: 25px 0 0;
}
.campaign-cnt-inner-ttl {
  max-width: 361px;
  width: 94%;
  margin: 0 auto;
}
.campaign-cnt-entry {
  display: block;
  width: 94%;
  max-width: 361px;
  margin: 20px auto 0;
  padding: 35px 18px 17px;
  background: url(../image/bg-campaign03.png) no-repeat center top 15px, url(../image/bg-campaign03.png) no-repeat center bottom 15px, #fff;
  background-size: 90% auto, 90% auto;
  border-radius: 12px;
}
.campaign-cnt-entry-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.campaign-cnt-entry-inner-ttl {
  position: relative;
  width: 83px;
  font-size: 22px;
  color: #F74A46;
  font-weight: bold;
}
.campaign-cnt-entry-inner-ttl:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #ff7977;
  top: 50%;
  right: -18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.campaign-cnt-entry-inner-txt {
  width: calc(100% - 115px);
  font-size: 16px;
  line-height: 1.3;
}
.campaign-cnt-entry-inner-txt .txt-orange {
  color: #F74A46;
}
.campaign-cnt-entry-inner-txt .txt-st {
  font-size: 20px;
  font-weight: bold;
}
.campaign-cnt-mail-img {
  width: 90%;
  max-width: 330px;
  margin: 15px auto 0;
}
.campaign-cnt-mail-txt {
  width: 90%;
  max-width: 330px;
  font-size: 15px;
  margin: 10px auto 40px;
}
.campaign-cnt-pick {
  text-align: center;
  max-width: 326px;
  color: #B4000F;
  font-size: 22px;
  margin: 0 auto;
  padding: 50px 0 0;
  background: url(../image/bg-campaign04.png) no-repeat bottom 22px right;
  background-size: 53px auto;
  font-weight: normal;
}
.campaign-cnt-pick--coupon {
  max-width: 268px;
}
.campaign-cnt-pick-inner {
  width: 94%;
  margin: 10px auto 20px;
  padding: 20px 0 30px;
  background: rgba(220, 85, 29, 20%);
}
.campaign-cnt-pick-inner02 {
  background: rgba(199, 22, 24, 20%);
  margin: 10px auto 0;
}
.campaign-cnt-pick-img {
  position: relative;
  width: 108%;
  margin: 0px 0 0 -5%;
}
.campaign-cnt-pick-img img {
  width: 94%;
}
.campaign-cnt-pick-img--right img {
  width: 94%;
  margin: 0 0 0 auto;
}
.campaign-cnt-pick-ttl {
  position: absolute;
  max-width: 230px;
  width: 90%;
  font-size: 17px;
  right: 0;
  top: 50%;
  text-align: right;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  padding: 10px 15px 10px 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.campaign-cnt-pick-img--right .campaign-cnt-pick-ttl {
  right: inherit;
  left: 0;
  text-align: left;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
  padding: 10px 10px 10px 18px;
}
.campaign-cnt-pick-img .campaign-cnt-pick-ttl-icon {
  display: inline-block;
  width: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
.campaign-cnt-pick-txt {
  text-align: center;
  color: #B4000F;
  margin: 14px auto 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
}
.campaign-cnt-pick-lst {
  width: 98%;
  margin: 8px auto 0;
  padding: 0;
  list-style: none;
}
.campaign-cnt-pick-lst-item {
  margin: 5px 0 0;
}
.campaign-cnt-pick-lst-item a {
  display: block;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.campaign-cnt-pick-lst-item a:hover {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.campaign-cnt-form .campaign-cnt-pick {
  max-width: 272px;
}
.campaign-cnt-pick-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 -3.5%;
}
.campaign-cnt-pick-flex-left {
  width: 50%;
}
.campaign-cnt-pick-flex-right {
  width: 46%;
}
.campaign-cnt-pick-btn {
  margin: -10px auto 0;
}
.campaign-cnt-txt {
  font-size: 14px;
  width: 90%;
  margin: 10px auto 0;
  text-align: center;
}
.campaign-cnt-service {
  position: relative;
  width: 92%;
  max-width: 560px;
  margin: 0 auto;
  padding: 20px 0 10px;
}
.campaign-cnt-service-lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  width: 94%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}
.campaign-cnt-service-lst-item {
  width: 28%;
  margin: 0 2.5% 12px;
}
.campaign-cnt-service-lst-item a {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 18px 0;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.campaign-cnt-service-lst-item a:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 5px 0.5px rgba(0,0,0,.3);
  box-shadow: 0 0 5px 0.5px rgba(0,0,0,.3);
}
.campaign-cnt-service-lst-item-img {
  width: 26px;
  margin: 0 auto 8px;
}
.campaign-cnt-service-lst-txt {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
}
.btn.btn-gra01 {
  position: relative;
  display: block;
  max-width: 260px;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px auto 4px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 0 0 rgba(66,33,11, 30%);
  transition: all .3s ease;
  z-index: 1;
}
.btn.btn-gra01 span {
  display: block;
  padding: 8px 0;
  color: #fff;
}
.btn.btn-gra01:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: rgb(220,85,29);
  background: linear-gradient(90deg, rgba(220,85,29,1) 0%, rgba(252,145,6,1) 100%);
  transition: all .3s ease;
}
.btn.btn-gra01:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  background: rgb(220,85,29);
}
.btn.btn-gra01 span:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}
.btn.btn-gra01:hover {
  opacity: 1;
}
.btn.btn-gra01:hover:before {
  opacity: 0;
}
.btn.btn-gra02 {
  position: relative;
  display: block;
  max-width: 260px;
  text-decoration: none;
  border-radius: 50px;
  margin: 24px auto 4px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 0 0 rgba(66,33,11, 30%);
  transition: all .3s ease;
  z-index: 1;
}
.btn.btn-gra02 span {
  display: block;
  padding: 8px 0;
  color: #fff;
}
.btn.btn-gra02:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: rgb(199,22,24);
  background: linear-gradient(90deg, rgba(199,22,24,1) 0%, rgba(252,6,98,1) 100%);
  transition: all .3s ease;
}
.btn.btn-gra02:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  background: rgb(199,22,24);
}
.btn.btn-gra02 span:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}
.btn.btn-gra02:hover {
  opacity: 1;
}
.btn.btn-gra02:hover:before {
  opacity: 0;
}
.btn.btn-gra03 {
  position: relative;
  display: block;
  max-width: 310px;
  text-decoration: none;
  border-radius: 50px;
  margin: 40px auto 4px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 0 0 rgba(66,33,11, 30%);
  overflow: hidden;
  transition: all .3s ease;
  z-index: 1;
}
.btn.btn-gra03 span {
  display: block;
  padding: 6px 0;
  color: #fff;
}
.btn.btn-gra03:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: rgb(18,58,117);
  background: linear-gradient(90deg, rgba(18,58,117,1) 0%, rgba(69,110,170,1) 100%);
  transition: all .3s ease;
}
.btn.btn-gra03:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  background: rgb(18,58,117);
}
.btn.btn-gra03 span:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}
.btn.btn-gra03:hover {
  opacity: 1;
}
.btn.btn-gra03:hover:before {
  opacity: 0;
}
.btn.btn-gra04 {
  position: relative;
  display: block;
  max-width: 310px;
  text-decoration: none;
  border-radius: 16px;
  margin: 30px auto 30px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 0 0 rgba(66,33,11, 30%);
  overflow: hidden;
  transition: all .3s ease;
  z-index: 1;
}
.btn.btn-gra04 span {
  display: block;
  padding: 16px 0;
  color: #fff;
}
.btn.btn-gra04:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: rgb(180,0,15);
  background: linear-gradient(90deg, rgba(180,0,15,1) 0%, rgba(251,34,0,1) 100%);
  transition: all .3s ease;
}
.btn.btn-gra04:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  background: rgb(180,0,15);
}
.btn.btn-gra04 span:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}
.btn.btn-gra04:hover {
  opacity: 1;
}
.btn.btn-gra04:hover:before {
  opacity: 0;
}
.btn-flow {
  width: 310px;
  margin: 0px auto 0;
  background: #fff;
  border-radius: 50px;
}
@media screen and (max-width:350px){
  .campaign-txt {
    font-size: 20px;
  }
  .campaign-cnt-entry-inner-txt {
    font-size: 14px;
  }
}
@media screen and (min-width:768px){
  .bg-pc {
    background: url(../image/bg-campaign-pc.png) repeat-y top -60px left, #FF9D9B;
    background-size: 100% auto;
  }
  .campaign {
    padding: 80px 0 80px;
    width: 100%;
    margin: 0 auto;
    background: none;
  }
  .campaign02 {
    padding: 5px 0 80px;
  }
  .campaign03 {
    padding: 20px 0 80px;
  }
  .campaign-lbl {
    max-width: 946px;
    margin: 0 auto 0;
  }
  .campaign-cnt {
    max-width: 1080px;
    margin: -120px auto 0;
    padding: 150px 0 0;
    background: url(../image/bg-campaign.png) repeat top left;
    background-size: 407px auto;
  }
  .campaign-cnt02 {
    margin: 0 auto;
    padding: 5px 0 60px;
  }
  .campaign-cnt03 {
    margin: -120px auto 0;
    padding: 120px 0 0;
    background: url(../image/bg-campaign05.png) repeat top left;
    background-size: 407px auto;
  }
  .campaign-cnt04 {
    margin: 0 auto 0;
    padding: 20px 0 0;
    background: url(../image/bg-campaign05.png) repeat top left;
    background-size: 407px auto;
  }
  .campaign-txt {
    font-size: 35px;
    max-width: 660px;
  }
  .campaign-txt:before {
    width: 31px;
    height: 70px;
    background: url(../image/obj-img01.png) no-repeat top left;
    background-size: 30px 69px;
  }
  .campaign-txt:after {
    width: 31px;
    height: 70px;
    background: url(../image/obj-img01.png) no-repeat top left;
    background-size: 30px 69px;
  }
  .campaign-cnt-ttl {
    font-size: 38px;
    padding: 55px 0 0;
    margin: 50px 0 0;
    background: url(../image/bg-campaign02.png) repeat-x top left;
    background-size: 420px auto;
  }
  .campaign-cnt-inner {
    margin: 35px auto 0;
  }
  .campaign-cnt-inner-ttl {
    max-width: 769px;
  }
  .campaign-cnt-txt {
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto 25px;
  }
  .campaign-cnt-txt--mgn {
    margin: 15px auto 0;
  }
  .campaign-cnt-mail-img {
    width: 90%;
    max-width: 557px;
    margin: 45px auto 0;
  }
  .campaign-cnt-mail-txt {
    width: 90%;
    max-width: 768px;
    font-size: 20px;
    margin: 25px auto 50px;
  }
  .campaign-cnt-pick {
    font-size: 34px;
    max-width: 508px;
    padding: 110px 0 0;
    background: url(../image/bg-campaign04.png) no-repeat bottom 36px right;
    background-size: 74px auto;
  }
  .campaign-cnt-form .campaign-cnt-pick {
    max-width: 438px;
  }
  .campaign-cnt-pick--coupon {
    max-width: 418px;
    padding: 70px 0 0;
  }
  .campaign-cnt-pick-inner {
    width: 94%;
    max-width: 960px;
    margin: 20px auto 20px;
    padding: 40px 0 60px;
    background: rgba(220, 85, 29, 20%);
  }
  .campaign-cnt-pick-inner02 {
    background: rgba(199, 22, 24, 20%);
    margin: 25px auto 0;
  }
  .campaign-cnt-pick-inner {
    padding: 70px 0 60px;
  }
  .campaign-cnt-pick-img {
    position: relative;
    width: 109%;
    margin: 0px 0 0 -2.8%;
  }
  .campaign-cnt-pick-img--right {
    margin: 0 0 0 -6.2%;
  }
  .campaign-cnt-pick-img img {
    width: 660px;
  }
  .campaign-cnt-pick-ttl {
    max-width: 610px;
    width: 70%;
    font-size: 26px;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    padding: 22px 15px 22px 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .campaign-cnt-pick-img--right .campaign-cnt-pick-ttl {
    padding: 22px 15px 22px 10px;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
  }
  .campaign-cnt-pick-img .campaign-cnt-pick-ttl-icon {
    width: 44px;
    margin-right: 15px;
  }
  .campaign-cnt-pick-txt {
    margin: 24px auto 0;
    font-size: 30px;
  }
  .campaign-cnt-pick-lst {
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
  }
  .campaign-cnt-pick-lst-item {
    max-width: 462px;
  }
  .campaign-cnt-pick-flex {
    margin: 30px 0 0 -6.25%;
    align-items: center;
  }
  .campaign-cnt-pick-flex-left {
    max-width: 540px;
    width: 57%;
  }
  .campaign-cnt-pick-flex-right {
    max-width: 290px;
    margin: 0 auto;
  }
  .campaign-cnt-pick-btn {
    width: 96%;
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .campaign-cnt-pick-btn a {
    width: 48%;
  }
  .campaign-cnt-entry {
    display: block;
    width: 94%;
    max-width: 768px;
    padding: 50px 39px 40px 65px;
    background: url(../image/bg-campaign03-pc.png) no-repeat center top 25px, url(../image/bg-campaign03-pc.png) no-repeat center bottom 25px, #fff;
    background-size: 94% auto, 94% auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .campaign-cnt-entry-inner {
    margin-bottom: 10px;
  }
  .campaign-cnt-entry-inner-ttl {
    width: 120px;
  }
  .campaign-cnt-entry-inner-ttl:before {
    border-width: 8px 0 8px 9px;
    border-color: transparent transparent transparent #ff7977;
    top: 52%;
    right: -30px;
  }
  .campaign-cnt-entry-inner-txt {
    width: calc(100% - 172px);
    font-size: 23px;
  }
  .campaign-cnt-entry-inner-txt .txt-st {
    font-size: 29px;
  }
  .campaign-cnt-service {
    width: 94%;
    max-width: 960px;
    padding: 45px 0 20px;
  }
  .campaign-cnt-service:before {
    border-width: 23px 25px 0 25px;
    bottom: -21px;
  }
  .campaign-cnt-service-lst {
    max-width: inherit;
    width: 94%;
  }
  .campaign-cnt-service-lst-item {
    width: 13.5%;
    margin: 0 1.5% 22px;
  }
  .campaign-cnt-service-lst-item a {
    display: block;
    padding: 18px 2px;
    border-radius: 10px;
  }
  .campaign-cnt-service-lst-item a:hover {
    -webkit-box-shadow: 0 0 12px 0.5px rgba(0,0,0,.2);
    box-shadow: 0 0 12px 0.5px rgba(0,0,0,.2);
  }
  .campaign-cnt-service-lst-item-img {
    width: 42px;
    margin: 0 auto 10px;
  }
  .campaign-cnt-service-lst-txt {
    font-size: 17px;
  }
  .btn-flow {
    width: 394px;
    margin: 0 auto 0;
  }
  .btn.btn-gra01 {
    max-width: 400px;
    margin: 40px auto 10px;
    font-size: 26px;
  }
  .btn.btn-gra01 span {
    padding: 16px 0;
  }
  .btn.btn-gra01 span:before {
    right: 30px;
    width: 8px;
    height: 8px;
  }
  .btn.btn-gra02 {
    max-width: 400px;
    margin: 40px auto 10px;
    font-size: 26px;
  }
  .btn.btn-gra02 span {
    padding: 16px 0;
  }
  .btn.btn-gra02 span:before {
    right: 30px;
    width: 8px;
    height: 8px;
  }
  .btn.btn-gra03 {
    max-width: 394px;
    margin: 50px auto 20px;
    font-size: 18px;
  }
  .btn.btn-gra03 span {
    padding: 16px 0;
  }
  .btn.btn-gra03 span:before {
    right: 25px;
  }
  .btn.btn-gra04 {
    max-width: 620px;
    border-radius: 18px;
    margin: 50px auto 50px;
    font-size: 26px;
  }
  .btn.btn-gra04 span {
    padding: 26px 0;
  }
  .btn.btn-gra04 span:before {
    right: 30px;
    top: 50%;
    width: 9px;
    height: 9px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
  }
}
/* --------------------
moreApp
-------------------- */
.moreApp {
  padding: 40px 0 120px;
}
.moreApp-img {
  max-width: 330px;
  width: 94%;
  margin: 0 auto;
}
.moreApp-ttl {
  max-width: 330px;
  width: 94%;
  margin: 5px auto 0;
}
.moreApp-dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px auto 5px;
}
.moreApp-dl-img {
  width: 40px;
}
.moreApp-dl-txt {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 2px;
  margin-left: 10px;
}
.moreApp-cnt {
  width: 92%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.moreApp-cnt-btn {
  display: block;
  width: 49%;
  background: #fff;
  border-radius: 10px;
}
.moreApp-cnt a {
  display: block;
}
@media screen and (min-width:768px){
  .moreApp {
    padding: 70px 0 220px;
  }
  .moreApp-img {
    max-width: 541px;
  }
  .moreApp-ttl {
    max-width: 662px;
  }
  .moreApp-dl {
    margin: 50px auto 5px;
  }
  .moreApp-dl-img {
    width: 80px;
  }
  .moreApp-dl-txt {
    font-size: 22px;
    line-height: 1.6;
    margin-left: 25px;
    font-weight: 900;
  }
  .moreApp-cnt {
    max-width: 650px;
    margin: 30px auto 0;
  }
  .moreApp-cnt-btn {
    width: 48%;
    border-radius: 14px;
  }
  .moreApp-cnt a {
    width: 100%;
  }
}
/* --------------------
campaign2
-------------------- */
.campaign-cnt-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  max-width: 330px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: 54px auto;
}
.campaign-cnt-other--mgn {
  margin: 20px auto 0;
}
.campaign-cnt-other-left {
  width: 147px;
}
.campaign-cnt-other-right {
  font-size: 15px;
  width: calc(100% - 147px);
  padding-left: 15px;
  line-height: 1.6;
}
.campaign-cnt-other-right-red {
  color: #FF0022;
}
.campaign-cnt-bnr {
  width: 92%;
  max-width: 378px;
  margin: 0 auto;
  padding: 25px 0 45px;
}
.campaign-cnt-bnr + .campaign-cnt-bnr {
  padding-top: 0;
}
.campaign-cnt-bnr-ttl {
  max-width: 220px;
  margin: 0 auto;
}
.campaign-cnt-bnr-ttl02 {
  text-align: center;
}
.campaign-cnt-bnr-img {
  margin: 10px auto 5px;
  padding: 6px;
  box-shadow: 6px rgba(0, 0, 0, .5);
}
.campaign-cnt-bnr-img a {
  display: block;
  max-width: 720px;
  margin: 0 auto;
}
.campaign-cnt-bnr-txt {
  width: 97%;
  margin: 0 auto;
  font-size: 15px;
}
@media screen and (max-width:350px){
  .campaign-cnt-other-right {
    font-size: 14px;
  }
}
@media screen and (min-width:768px){
  .campaign__mgn-not .campaign-img {
    max-width: 768px;
    width: 94%;
  }
  .campaign-cnt-other {
    max-width: 768px;
    justify-content: center;
  }
  .campaign-cnt-other-left {
    width: 236px;
  }
  .campaign-cnt-other-right {
    font-size: 22px;
    width: calc(100% - 290px);
    padding-left: 70px;
    letter-spacing: 1px;
  }
  .campaign-cnt-bnr {
    max-width: 768px;
    padding: 40px 0 65px;
  }
  .campaign-cnt-bnr + .campaign-cnt-bnr {
    padding-top: 0;
  }
  .campaign-cnt-bnr-ttl {
    max-width: 380px;
  }
  .campaign-cnt-bnr-ttl02 {
    text-align: center;
  }
  .campaign-cnt-bnr-img {
    width: 100%;
    max-width: 756px;
    margin: 20px auto 0;
  }
  .campaign-cnt-bnr-txt {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* --------------------
flow
-------------------- */
.flow {
  padding: 50px 0 10px;
  display: block;
  margin: 0;
  background: url(../image/bg-campaing02.png) repeat-y top left #FF9D9B;
  background-size: 100% auto;
}
.flow-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.flow-ttl-img {
  width: 63px;
}
.flow-ttl-txt {
  font-size: 14px;
  margin-left: 5px;
  text-align: center;
  font-weight: 900;
}
.flow-ttl-txt .txt-st {
  font-size: 18px;
  font-weight: 900;
}
.flow-txt {
  width: 87%;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: normal;
}
.flow-cnt {
  width: 92%;
  margin: 0 auto;
}
.flow-cnt-ttl {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  font-size: 17px;
  background: #113975;
  border-top: solid 1px #fff;
  color: #fff;
  transition: all .3s ease;
}
.flow-cnt-ttl:hover {
  opacity: 1;
}
.flow-cnt-ttl:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: #fff;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flow-cnt-ttl:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: #fff;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  transition: all .3s ease;
}
.flow-cnt-ttl.is-active:after {
  -webkit-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
}
.flow-cnt-ttl--btm {
  border-bottom: solid 1px #fff;
}
.flow-cnt-caution-item-mgn {
  display: block;
  margin-bottom: 20px;
  font-weight: normal;
}
@media screen and (max-width:366px){
  .flow-ttl-txt {
    font-size: 12px;
  }
}
@media screen and (max-width:350px){
  .flow-cnt-ttl {
    background: #113975;
  }
  .flow-ttl-txt {
    font-size: 11px;
  }
}
.flow-cnt-caution {
  display: none;
  background: #fff;
  padding: 25px 0 15px;
  list-style: none;
}
.flow-cnt-caution-item {
  width: 92%;
  margin: 0 auto 20px;
  font-size: 13px;
  font-weight: normal;
}
@media screen and (min-width:768px){
  .flow {
    max-width: inherit;
    padding: 0 0;
    margin: 0 auto;
    background: none;
  }
  .flow-ttl {
    margin-bottom: 40px;
  }
  .flow-ttl-img {
    width: 124px;
  }
  .flow-ttl-txt {
    font-size: 25px;
    margin-left: 20px;
  }
  .flow-ttl-txt .txt-st {
    font-size: 29px;
  }
  .flow-txt {
    max-width: 960px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .flow-cnt {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0 0;
  }
  .flow-cnt-caution {
    padding: 50px 0 40px;
  }
  .flow-cnt-caution-item-mgn {
    margin: 0 0 30px;
  }
  .flow-cnt-ttl {
    padding: 15px 0;
    font-size: 26px;
    background: #113975;
    background-size: 118px auto;
  }
  .flow-cnt-caution-item {
    max-width: 768px;
    margin: 0 auto 35px;
    font-size: 16px;
    line-height: 1.8;
  }
  .flow-cnt-ttl:before {
    width: 26px;
    right: 85px;
  }
  .flow-cnt-ttl:after {
    width: 26px;
    right: 85px;
  }
}

/* --------------------
ad-number
-------------------- */
.ad-number {
  margin: 30px 0 0;
}
.ad-number p {
  padding: 0 0 20px;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
}
@media(max-width:511px) {
  .ad-number p {
    padding: 0 0 20px;
    display: block;
    text-align: center;
    font-size: 11px;
  }
}
@media screen and (min-width:768px){
  .ad-number {
    margin: 60px 0 0;
  }
  .ad-number p {
    padding: 0 0 40px;
    font-size: 13px;
  }
}
/* --------------------
footer
-------------------- */
/* APPのみpadding24px対応 */
footer {
  display: block;
  padding: 24px 0 20px;
  color: #525252;
  background: #eeeeee;
}
footer ul {
  max-width: 900px;
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 18px 0 8px;
}
footer ul li {
  display: inline-block;
  padding: 0 0 0 8px;
  font-size: 13px;
}
footer ul li:after {
  content: '|';
  display: inline-block;
  padding: 0 0 0 8px;
}
footer ul li:last-child:after {
  content: '';
}
footer ul li:last-child {
  padding-right: 8px;
}
footer ul li a {
  color: #333;
  text-decoration: none;
  font-weight: normal;
}
footer ul li a:hover {
  color: #999;
  text-decoration: underline;
}
footer.footer-sitemap{
  padding: 0;
}
#copyright p {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
}
.group-site{
  background: #eee;
  padding: 30px 0;
}
.group-site p{
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-sitemap{
  padding: 30px 0 0px;
}
@media(max-width:511px) {
  footer ul li {
    display: inline-block;
    padding: 0 0 0 8px;
    font-size: 12px;
  }
}
@media (min-width:768px) {
  /*  footer ul {
  max-width: 786px;
}*/
  .group-site p{
    font-size: 20px;
  }
  footer ul {
    padding: 24px 0 8px;
  }
}
.fixed-cnt-btn {
  position: fixed;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #fff;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
.fixed-cnt {
  display: block;
  width: 100%;
  height: 100%;
  border: solid 2px #B4000F;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgb(0 0 0 / 30%);
  z-index: 2;
}
.fixed-cnt:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-top: 3.5px solid #B4000F;
  border-right: 3.5px solid #B4000F;
  top: 50%;
  left: 50%;
  border-radius: 1px;
  -webkit-transform: translate(-50%, -25%) rotate(-45deg);
  -ms-transform: translate(-50%, -25%) rotate(-45deg);
  transform: translate(-50%, -25%) rotate(-45deg);
}
