@media screen and (max-width: 767px) {
  img {
    max-width: 100%;
  }
}
/* ------------ common ------------ */
.pc_br {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .pc_br {
    display: none;
  }
}

.sp_br {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp_br {
    display: inline-block;
  }
}

.bg_full {
  background: #abe9e7;
}

.main section:last-child .kuchikomi_post {
  margin-bottom: 0;
}

/* ------------ kv ------------ */
.kv {
  position: relative;
  max-width: 1920px;
  margin: 0 auto 48px;
  font-size: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .kv {
    background: url("../images/1x/bg_KV_PC.png");
    background: -webkit-image-set(url(../images/1x/bg_KV_PC.png) 1x, url(../images/2x/bg_KV_PC@2x.png) 2x, url(../images/3x/bg_KV_PC@3x.png) 3x);
    background-position: top center;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .kv {
    margin: 0 auto 32px;
  }
}
.kv .kv_main {
  width: 100%;
}

.campaign_introduction {
  max-width: 1080px;
  margin: 0 auto 32px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .campaign_introduction {
    margin: 0 auto 16px;
    padding: 0 16px;
  }
}
.campaign_introduction_text {
  margin-top: 8px;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .campaign_introduction_text {
    margin-top: 16px;
    font-size: 13px;
  }
}
.campaign_introduction img {
  max-width: 100%;
}

.kuchikomi_post {
  max-width: 1080px;
  margin: 0 auto 72px;
  padding: 32px 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .kuchikomi_post {
    padding: 64px 16px;
  }
}
@media screen and (max-width: 767px) {
  .kuchikomi_post {
    margin: 0 auto 64px;
    padding: 32px 16px;
  }
}
.kuchikomi_post .kuchikomi_post_form {
  margin: 0 auto;
}
.kuchikomi_post_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  margin: 0 auto;
  background: #ff669d;
  border-radius: 8px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_btn {
    width: 100%;
    height: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
}
.kuchikomi_post_btn:hover {
  text-decoration: none;
}
.kuchikomi_post_btn_icon {
  width: 32px;
  margin-right: 8px;
  fill: #FFFFA1;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_btn_icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}
.kuchikomi_post_btn span {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post_btn span {
    font-size: 18px;
  }
}
.kuchikomi_post .note {
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .kuchikomi_post .note {
    font-size: 12px;
    line-height: 1.5;
  }
}

.campaign_detail {
  margin: 0 auto 72px;
  max-width: 1080px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_detail {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .campaign_detail {
    margin: 0 auto 64px;
    padding: 0 16px;
  }
}
.campaign_detail_midashi {
  margin-bottom: 24px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .campaign_detail_midashi {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_detail_midashi img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .campaign_detail_midashi img {
    width: 100%;
  }
}
.campaign_detail_body_upper {
  display: flex;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .campaign_detail_body_upper {
    flex-direction: column;
    margin-bottom: 16px;
  }
}
.campaign_detail_body_lower {
  display: flex;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .campaign_detail_body_lower {
    flex-direction: column;
  }
}
.campaign_detail_box {
  flex: 1;
  margin-right: 24px;
  padding: 24px;
  background: #ffffa1;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .campaign_detail_box {
    margin: 0 0 16px 0;
    padding: 16px;
  }
}
.campaign_detail_box:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .campaign_detail_box:last-child {
    margin-bottom: 0;
  }
}
.campaign_detail_box_image {
  margin-bottom: 16px;
  text-align: center;
  font-size: 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_detail_box_image img {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .campaign_detail_box_image img {
    max-width: 100%;
  }
}
.campaign_detail_box_note_title {
  display: flex;
  margin-bottom: 8px;
}
.campaign_detail_box_note_title_number {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 16px;
}
@media screen and (max-width: 767px) {
  .campaign_detail_box_note_title_number {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: 8px;
  }
}
.campaign_detail_box_note_title_number img {
  width: 100%;
}
.campaign_detail_box_note_title p {
  font-size: 20px;
  font-weight: bold;
  color: #ff669d;
}
@media screen and (max-width: 767px) {
  .campaign_detail_box_note_title p {
    font-size: 16px;
  }
}
.campaign_detail_box_note_text {
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .campaign_detail_box_note_text {
    font-size: 13px;
  }
}
.campaign_detail_text {
  text-align: right;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .campaign_detail_text {
    text-align: left;
    font-size: 13px;
  }
}

.campaign_attention {
  max-width: 1080px;
  margin: 0 auto 72px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_attention {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .campaign_attention {
    margin: 0 auto 32px;
    padding: 0 16px;
  }
}
.campaign_attention_midashi {
  margin: 0 auto 24px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .campaign_attention_midashi {
    margin: 0 auto 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_attention_midashi img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .campaign_attention_midashi img {
    width: 100%;
  }
}
.campaign_attention_label {
  display: inline-block;
  margin-bottom: 16px;
  padding: 4px 24px;
  background: #40d2d6;
  border-radius: 17px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .campaign_attention_label {
    font-size: 15px;
  }
}
.campaign_attention_box {
  margin: 0 auto 48px;
}
@media screen and (max-width: 767px) {
  .campaign_attention_box {
    margin-bottom: 16px;
  }
}
.campaign_attention_box2 {
  margin: 0 auto 48px;
}
@media screen and (max-width: 767px) {
  .campaign_attention_box2 {
    margin-bottom: 16px;
  }
}
.campaign_attention_box2 .campaign_attention_text {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .campaign_attention_box2 .campaign_attention_text {
    font-size: 11px;
  }
}
.campaign_attention_box2 .campaign_attention_text + .campaign_attention_text {
  margin-top: 8px;
}
.campaign_attention_text {
  font-size: 18px;
}
.campaign_attention_text + .campaign_attention_text {
  margin-top: 16px;
}
.campaign_attention_text + .campaign_attention_text.note {
  margin-top: 8px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .campaign_attention_text + .campaign_attention_text.note {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  .campaign_attention_text {
    font-size: 13px;
  }
}
.campaign_attention_text.emphasis_level1 {
  color: #ff669d;
  font-weight: bold;
}
.campaign_attention_text.emphasis_level2 {
  color: #ff669d;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .campaign_attention_text.emphasis_level2 {
    font-size: 18px;
    line-height: 1.5;
  }
}

.campaign_qa {
  max-width: 1080px;
  margin: 0 auto 72px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_qa {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .campaign_qa {
    margin: 0 auto 32px;
    padding: 0 16px;
  }
}
.campaign_qa_midashi {
  margin: 0 auto 24px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .campaign_qa_midashi {
    margin: 0 auto 24px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .campaign_qa_midashi img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .campaign_qa_midashi img {
    width: 100%;
  }
}
.campaign_qa_list_box {
  margin-bottom: 24px;
}
.campaign_qa_list_box:last-child {
  margin-bottom: 0;
}
.campaign_qa_list_title {
  display: flex;
  margin-bottom: 8px;
  line-height: 1.7;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .campaign_qa_list_title {
    font-size: 13px;
  }
}
.campaign_qa_list_answer {
  display: flex;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .campaign_qa_list_answer {
    font-size: 13px;
  }
}
.campaign_qa_list_icon {
  position: relative;
  top: 2px;
  width: 20px;
  margin-right: 24px;
}
@media screen and (max-width: 767px) {
  .campaign_qa_list_icon {
    top: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
.campaign_qa_list_text {
  position: relative;
  top: -1px;
  flex: 1;
}
.campaign_qa_list_text span {
  font-size: 16px;
  color: #FF669D;
}
@media screen and (max-width: 767px) {
  .campaign_qa_list_text span {
    display: block;
    margin-top: 8px;
    font-size: 11px;
  }
}