@charset "UTF-8";
* {
  font-family: "メイリオ", sans-serif;
  line-height: 150%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fff;
  color: #424242;
  font-family: "メイリオ", sans-serif;
  margin: 0;
  padding: 0;
}

.ifPc {
  display: block !important;
}

.ifSp {
  display: none !important;
}

header, section, article, footer, nav {
  display: block;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

a img {
  border: none;
}

li {
  list-style-type: none;
}

a {
  color: #1177DD;
  text-decoration: none;
}

a {
  transition: opacity 0.2s ease-out;
}

a:hover {
  -khtml-opacity: 0.7;
  opacity: 0.7;
  text-decoration: underline;
}

.clear {
  clear: both;
  float: none;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.main {
  background: #FFFFFF;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
  position: relative;
}

/* ------------ HEADER ------------ */
#header {
  background: #fff;
  border-bottom: #ccc 1px solid;
}
@media screen and (max-width: 767px) {
  #header {
    display: flex;
    align-items: center;
    height: 60px;
  }
}
@media screen and (max-width: 767px) {
  #header .wrapper {
    margin: 0;
    padding: 0 16px;
  }
}
#header h1 {
  display: block;
  float: left;
  width: 180px;
}
@media screen and (max-width: 767px) {
  #header h1 {
    width: 106px;
  }
}
#header h1 a {
  display: block;
  width: 100%;
  padding: 22px 0;
}
@media screen and (max-width: 767px) {
  #header h1 a {
    padding: 0;
  }
}
#header h1 img {
  display: block;
  width: 148px;
  height: 31px;
}
@media screen and (max-width: 767px) {
  #header h1 img {
    margin: 0;
    width: 96px;
    height: auto;
  }
}

/* ------------ FOOTER ------------ */
footer {
  background: #eee;
  display: block;
  padding: 0 0 20px;
  text-align: center;
}
footer ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0 0 0 8px;
}
footer ul li a {
  color: #333;
  text-decoration: none;
}
footer ul li a:hover {
  color: #999;
  text-decoration: underline;
}
footer ul li:after {
  content: "|";
  display: inline-block;
  padding: 0 0 0 8px;
}
footer ul li:last-child {
  padding-right: 8px;
}
footer ul li:last-child:after {
  content: "";
}

.ad-number {
  background: #fff;
  margin: 0 0 30px;
}
.ad-number p {
  color: #424242;
  display: block;
  font-size: 14px;
  padding: 24px 0 24px;
  text-align: center;
}

#copyright p {
  font-size: 14px;
  margin: 20px 0 0 0;
}

/* ------------ 装飾 ------------ */
/* For modern browsers */
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
}

@media screen and (min-width: 980px) {
  body {
    font-size: 18px;
  }
}
/*---------------------------------------------

SMARTPHONES SIZE

 ----------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    min-width: auto;
  }

  .ifPc {
    display: none !important;
  }

  .ifSp {
    display: block !important;
  }

  #main {
    padding-bottom: 20px;
  }

  .wrapper {
    padding: 0 10px;
  }

  /* ------------ HEADER ------------ */
}
@media screen and (max-width: 320px) {
  /* ------------ HEADER ------------ */
  .ifPc {
    display: none !important;
  }

  #header {
    height: 50px;
  }

  #header h1 {
    margin-left: 0;
    margin-top: 0;
    width: 106px;
  }

  /* ------------ FOOTER ------------ */
  #footer #copyright {
    font-size: 80%;
  }
}