@charset "UTF-8";

$mv_bg_color: #bf1818;
$title_color: #ef2546;
$sub_title_color: #ffffff;
$sub_season_title_color: #e04444;
$sub_season_background_color: #fde5cb;
$border-dot-color: #753e75;
$season-color: #00b7ce;
