@charset "UTF-8";
/* ------------ common ------------ */
.sp_br {
  display: none;
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.btn_reservation {
  display: inline-block;
  padding: 0;
  vertical-align: top;
  min-width: 160px;
  width: 248px;
  height: 48px;
  font-size: 16px;
  z-index: 3;
  position: relative;
  margin-right: 16px;
  background: #f71;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .btn_reservation {
    height: 45px;
    margin: 0 7.5px 0 0;
    flex: 1;
    min-width: auto;
  }
}
.btn_reservation .btn_reservation_wrap {
  display: flex;
  height: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.btn_reservation .btn_reservation_icon {
  position: relative;
  width: 24px;
  min-width: 24px;
  height: 24px;
  bottom: 1px;
}
@media screen and (max-width: 767px) {
  .btn_reservation .btn_reservation_icon {
    display: table-cell;
    width: auto;
    text-align: right;
    vertical-align: middle;
    padding-right: 6px;
  }
}
.btn_reservation .btn_reservation_icon .icon-010 {
  font-size: 24px;
  color: #fff;
}
.btn_reservation .btn_reservation_text_area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .btn_reservation .btn_reservation_text_area {
    font-weight: 400;
    display: table-cell;
    width: auto;
    vertical-align: middle;
    padding: 3px 0;
  }
}
.btn_reservation .btn_reservation_text_area .reservation_label {
  margin: 0 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .btn_reservation .btn_reservation_text_area .reservation_label {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
  }
}
.btn_reservation .btn_reservation_text_area .reservation_text_24h {
  position: relative;
  bottom: 1px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: bolder;
  line-height: 16px;
  background: #fff;
  color: #f71;
}
@media screen and (max-width: 767px) {
  .btn_reservation .btn_reservation_text_area .reservation_text_24h {
    position: inherit;
    display: block;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    background: #fff;
    color: #f71;
    border-radius: 3px;
    width: 72px;
    height: 15px;
    margin: 3px auto;
    line-height: 15px;
  }
}

.ppc_number {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 8px 0 4px;
  font-size: 0;
  line-height: 1;
  color: #ff9600;
  border: none;
  background: #fff;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .ppc_number {
    flex: 1;
  }
}
.ppc_number .ppc_number_wrap {
  display: flex;
  align-items: center;
}
.ppc_number .ppc_number_icon {
  float: left;
  position: relative;
  width: 24px;
  min-width: 24px;
  height: 24px;
  bottom: 2px;
  margin-right: 4px;
}
.ppc_number .ppc_number_icon .icon-011 {
  font-size: 24px;
  color: #f71;
  font-weight: 400;
}
.ppc_number .ppc_number_text_area .number_label {
  display: block;
  color: #f71;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
}
.ppc_number .ppc_number_text_area .number_text {
  color: #f71;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 600;
}

.btn_search_chain {
  display: block;
  width: 100%;
  background: #13a2c6;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.btn_search_chain .btn_search_chain_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}
.btn_search_chain .btn_reservation_icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  font-size: 24px;
  line-height: 1.3;
}
.btn_search_chain .btn_reservation_text {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .btn_search_chain .btn_reservation_text {
    font-size: 15px;
  }
}

.ppc_number_btn {
  background: #f92 0 0 no-repeat padding-box;
  border-radius: 3px;
  border: 0;
  line-height: 1.3;
  height: 45px;
  display: inline-block;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: calc(50% - 7.5px);
  margin: 0 0 0 7.5px;
  text-decoration: none;
}
.ppc_number_btn .ppc_number_wrap_sp {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  background: #f92;
  border-radius: 3px;
}
.ppc_number_btn .ppc_number_wrap_sp .ppc_number_icon_none_label {
  display: inline-block;
  padding: 6px 0;
  margin-left: auto;
  margin-right: 0;
}
.ppc_number_btn .ppc_number_wrap_sp .ppc_number_icon_none_label .ppc_icon {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}
.ppc_number_btn .ppc_number_wrap_sp .ppc_number_icon_none_label .ppc_icon:before {
  content: "";
  color: #fff;
  font-family: icomoon !important;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  vertical-align: initial;
}
.ppc_number_btn .ppc_number_wrap_sp .ppc_number_text_area_sp_none_label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
  margin-right: auto;
}
.ppc_number_btn .ppc_number_wrap_sp .ppc_number_text_area_sp_none_label .ppc_number_text_sp {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

/* ------------ kv ------------ */
#kv {
  margin: 0 auto;
  position: relative;
  width: 1280px;
  z-index: 1;
  font-size: 0;
}

.kv_back {
  background: #fff;
  height: 500px;
  position: relative;
}

.kv_main {
  margin-top: -500px;
  position: relative;
}

#kv h1 {
  color: #13a2c6;
  line-height: 1.3;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  font-size: 138%;
  margin: 60px 0 24px 0;
  text-align: center;
}

#kv .kv_genre {
  display: block;
  margin: 0 auto 36px;
}

/* ------------ introduction ------------ */
.introduction {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 230px;
  margin: 48px auto 0;
  background: url("../images/background_PC.png");
  background: -webkit-image-set(url("../images/background_PC.png") 1x, url("../images/background_PC@2x.png") 2x);
}
@media screen and (max-width: 767px) {
  .introduction {
    width: 100%;
    height: auto;
    margin: 24px 0 32px;
    background: -webkit-image-set(url("../images/background_SP.png") 1x, url("../images/background_SP@2x.png") 2x, url("../images/background_SP@3x.png") 3x);
  }
}
.introduction_text {
  position: relative;
  z-index: 2;
  color: #635c3e;
  font-size: 18px;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .introduction_text {
    padding: 16px;
    font-size: 15px;
  }
}
.introduction picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

/* ------------ section01 ------------ */
#section1 {
  margin: 48px auto 72px;
  width: 1080px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #section1 {
    width: 100%;
    margin: 0;
  }
}
#section1 h1 {
  margin-bottom: 32px;
  font-size: 28px;
  color: #13a2c6;
  line-height: 1.3;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #section1 h1 {
    margin-bottom: 24px;
    font-size: 18px;
  }
}
#section1 .section1_wrap {
  text-align: center;
}
#section1 .title_label {
  display: inline-block;
  margin-bottom: 8px;
  padding: 2px 16px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #3fcccc;
}
@media screen and (max-width: 767px) {
  #section1 .title_label {
    font-size: 13px;
    line-height: 1.7;
  }
}
#section1 .contents_tab {
  display: flex;
  width: 1080px;
  justify-content: space-between;
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  #section1 .contents_tab {
    width: 100%;
    margin-bottom: 56px;
    padding: 0 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}
#section1 .contents_item {
  display: flex;
  width: 246px;
  height: 120px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #section1 .contents_item {
    width: calc(50% - 8px);
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
  }
}
#section1 .contents_item .left_box {
  width: 140px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  #section1 .contents_item .left_box {
    width: 70px;
  }
}
#section1 .contents_item .right_box {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #13a2c6;
}
#section1 .contents_item .right_box:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  border-bottom: solid 1px #13a2c6;
  border-right: solid 1px #13a2c6;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  #section1 .contents_item .right_box:after {
    width: 8px;
    height: 8px;
    bottom: 6px;
  }
}
#section1 .contents_item .right_box .right_box_text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #section1 .contents_item .right_box .right_box_text {
    font-size: 11px;
  }
}

/* ------------ section02 ------------ */
#section2 {
  margin: 0 auto;
  width: 1080px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #section2 {
    width: 100%;
    margin: 0;
  }
}
#section2 h2 {
  margin-bottom: 32px;
  font-size: 28px;
  color: #13a2c6;
  line-height: 1.3;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #section2 h2 {
    margin-bottom: 24px;
    font-size: 18px;
  }
}
#section2 .content {
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  #section2 .content {
    margin-bottom: 72px;
  }
}
#section2 .content_image {
  margin-bottom: 32px;
}
#section2 .content_image img {
  width: 100%;
}
#section2 .shop_box {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box {
    display: block;
    margin-right: 0;
    margin-bottom: 32px;
  }
  #section2 .shop_box:last-child {
    margin-bottom: 0;
  }
}
#section2 .shop_box:last-child {
  margin-right: 0;
}
#section2 .shop_box .shop_prefecture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_prefecture {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
#section2 .shop_box .shop_prefecture .prefecture_name {
  line-height: 1.3;
}
#section2 .shop_box .shop_prefecture .icon-004 {
  margin-right: 4px;
  font-size: 24px;
  text-indent: -24px;
  color: #3fcccc;
}
#section2 .shop_box .shop_image {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  #section2 .shop_box .shop_image {
    width: 492px;
    height: 328px;
    background: #f5f5f5;
  }
}
@media screen and (min-width: 768px) {
  #section2 .shop_box .shop_image img {
    width: 492px;
    height: 328px;
    object-fit: scale-down;
    font-family: "object-fit: scale-down;";
  }
}
#section2 .shop_box .shop_card {
  padding: 16px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  #section2 .shop_box .shop_card {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_card {
    height: auto;
    border-radius: 0;
  }
}
#section2 .shop_box .shop_detail {
  padding: 0 0 16px;
}
#section2 .shop_box .shop_detail .shop_name_wrap a {
  display: inline-block;
  line-height: 1.3;
  text-decoration: none;
}
#section2 .shop_box .shop_detail .shop_name_wrap ~ .shop_lead:empty {
  margin-top: 0;
}
#section2 .shop_box .shop_detail .shop_name {
  font-size: 18px;
  font-weight: bold;
  color: #13a2c6;
  line-height: 1.3;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_detail .shop_name {
    font-size: 15px;
  }
}
#section2 .shop_box .shop_detail .shop_station {
  font-size: 12px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_detail .shop_station {
    font-size: 11px;
  }
}
#section2 .shop_box .shop_detail .shop_lead {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.3;
  word-break: break-all;
}
#section2 .shop_box .shop_detail .shop_lead:empty {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_detail .shop_lead {
    font-size: 11px;
  }
}
#section2 .shop_box .shop_menu {
  margin: 0 0 16px;
  padding: 16px;
  background: #f5f5f5;
}
@media screen and (min-width: 768px) {
  #section2 .shop_box .shop_menu {
    flex-grow: 1;
  }
}
#section2 .shop_box .shop_menu_label_wrap {
  margin: -8px 0 8px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_menu_label_wrap {
    margin-top: -4px;
  }
}
#section2 .shop_box .shop_menu_label {
  display: inline-block;
  margin: 8px 8px 0 0;
  padding: 4px 8px;
  background: #13a2c6;
  color: #ffffff;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_menu_label {
    margin-top: 4px;
    font-size: 11px;
  }
}
#section2 .shop_box .shop_menu_title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_menu_title {
    font-size: 15px;
    line-height: 1.5;
  }
}
#section2 .shop_box .shop_menu_title a {
  color: #13a2c6;
  line-height: 1.3;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_menu_title a {
    line-height: 1.5;
  }
}
#section2 .shop_box .shop_menu_price {
  font-size: 12px;
  text-align: right;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_menu_price {
    font-size: 11px;
  }
}
#section2 .shop_box .shop_menu_price .emphasis_text {
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .shop_menu_price .emphasis_text {
    font-size: 15px;
    line-height: 1.3;
  }
}
#section2 .shop_box .shop_menu:last-child {
  margin-bottom: 0;
}
#section2 .shop_box .conversion_box {
  padding: 0;
}
#section2 .shop_box .conversion_box_pc {
  display: block;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .conversion_box_pc {
    display: none;
  }
}
#section2 .shop_box .conversion_box_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  #section2 .shop_box .conversion_box_sp {
    display: flex;
  }
}
#section2 .shop_box.chain_shop .shop_card {
  background: #e4f7fb;
}
#section2 .shop_box.chain_shop .shop_menu {
  background: #fff;
}
#section2 .shop_box.chain_shop .shop_menu .shop_menu_title a {
  color: #424242;
}
#section2 .shop_two_column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  #section2 .shop_two_column {
    display: block;
  }
}
#section2 .shop_three_column {
  display: flex;
}
@media screen and (max-width: 767px) {
  #section2 .shop_three_column {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  #section2 .shop_three_column .shop_box .flex_wrap {
    display: flex;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  #section2 .shop_three_column .shop_box .shop_image {
    width: 306px;
    height: 204px;
    background: #f5f5f5;
  }
}
@media screen and (max-width: 767px) {
  #section2 .shop_three_column .shop_box .shop_image {
    width: 150px;
    margin-bottom: 0;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  #section2 .shop_three_column .shop_box .shop_image img {
    width: 306px;
    height: 204px;
    font-family: "object-fit: scale-down;";
  }
}
#section2 .shop_three_column .shop_box .shop_detail {
  flex: 1;
  padding-bottom: 16px;
}
#section2 .shop_three_column .shop_box .shop_detail .shop_name {
  font-size: 15px;
}
#section2 .shop_three_column .shop_box .shop_detail .shop_lead {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  #section2 .shop_three_column .shop_box .shop_detail .shop_lead {
    white-space: normal;
  }
}
#section2 .shop_three_column .shop_box .shop_menu .shop_menu_title {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.3;
}
#section2 .shop_three_column .shop_box .shop_menu .shop_menu_price .emphasis_text {
  font-size: 15px;
}

/* ------------ section03 ------------ */
#section3 {
  margin: 160px auto 48px;
  width: 1080px;
  position: relative;
  background: url("../images/background_PC.png");
  background: -webkit-image-set(url(../images/background_PC.png) 1x, url(../images/background_PC@2x.png) 2x);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #section3 {
    width: 100%;
    margin: 0;
    background: -webkit-image-set(url("../images/background_SP.png") 1x, url("../images/background_SP@2x.png") 2x, url("../images/background_SP@3x.png") 3x);
    background-position: top center;
    background-repeat: no-repeat;
  }
}
#section3 h2 {
  margin-bottom: 32px;
  font-size: 28px;
  color: #13a2c6;
  line-height: 1.3;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #section3 h2 {
    margin-bottom: 32px;
    font-size: 18px;
  }
}
#section3 .section3_wrap {
  text-align: center;
}
#section3 .title_label {
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px 16px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #3fcccc;
}
@media screen and (max-width: 767px) {
  #section3 .title_label {
    font-size: 13px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 768px) {
  #section3 .region_list_wrap {
    padding: 32px;
    border-radius: 24px;
    background: #fcfbf1;
  }
}
@media screen and (min-width: 768px) {
  #section3 .region_list {
    padding: 32px;
    background: #fff;
    border-radius: 24px;
  }
}
@media screen and (min-width: 768px) {
  #section3 .region_list_item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  #section3 .region_list_item:last-child {
    margin-bottom: 0;
  }
}
#section3 .region_list_item_name {
  width: 90px;
  min-width: 90px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  color: #13a2c6;
  text-align: right;
}
@media screen and (min-width: 768px) {
  #section3 .region_list .prefecture_list,
#section3 .region_list .station_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -16px;
  }
}
@media screen and (min-width: 768px) {
  #section3 .region_list .prefecture_list_item,
#section3 .region_list .station_list_item {
    margin: 16px 16px 0 0;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    line-height: 1.5;
    color: #424242;
    text-decoration: none;
  }
}
#section3 .region_list .prefecture_list_item.disabled,
#section3 .region_list .station_list_item.disabled {
  pointer-events: none;
  opacity: 0.5;
}
#section3 .region_list_pc {
  display: block;
}
@media screen and (max-width: 767px) {
  #section3 .region_list_pc {
    display: none;
  }
}
#section3 .prefectures_list_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  #section3 .prefectures_list_sp {
    display: block;
  }
}
#section3 .prefectures_list {
  width: 100%;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}
#section3 .prefectures_list .form_accordion {
  display: none;
}
#section3 .prefectures_list .form_accordion + label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  line-height: 1.3;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  background-image: none;
  background-position: right 1em center;
  text-align: left;
  font-size: 13px;
  position: relative;
  padding: 0 0 0 16px;
}
#section3 .prefectures_list .form_accordion + label::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: calc(50% - 6px);
  right: 1px;
  margin: auto;
  border-right: 1px solid #13a2c6;
  border-bottom: 1px solid #13a2c6;
  transform: rotate(45deg);
  background-image: none;
}
@media screen and (max-width: 767px) {
  #section3 .prefectures_list .form_accordion + label::after {
    right: 16px;
  }
}
#section3 .prefectures_list .form_accordion + label + ul {
  max-height: 0;
  overflow: hidden;
  transition: unset;
  padding: 0 16px;
  width: 100vw;
}
#section3 .prefectures_list .form_accordion + label + ul li {
  border-bottom: 1px solid #e5e5e5;
  height: 46px;
  width: 100%;
  float: none;
  font-size: 13px;
  padding: 0;
}
#section3 .prefectures_list .form_accordion + label + ul li .btn_next_page {
  line-height: 1.3;
  color: #424242;
  background-image: none;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
#section3 .prefectures_list .form_accordion:checked + label::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 1px;
  margin: auto;
  border-top: solid 1px #13a2c6;
  border-left: solid 1px #13a2c6;
  border-right: none !important;
  border-bottom: none !important;
  transform: rotate(45deg);
  background-image: none;
}
@media screen and (max-width: 767px) {
  #section3 .prefectures_list .form_accordion:checked + label::after {
    right: 16px;
  }
}
#section3 .prefectures_list .form_accordion:checked + label + ul {
  max-height: 9999px;
}
#section3 .station_list {
  background: #fff;
}
@media screen and (max-width: 767px) {
  #section3 .station_list_item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    padding: 0 16px;
    font-size: 13px;
    line-height: 1.3;
    color: #424242;
    border-bottom: 1px solid #e5e5e5;
  }
  #section3 .station_list_item:first-child {
    border-top: 1px solid #e5e5e5;
  }
}
#section3 .region_link {
  margin-top: 16px;
  font-size: 14px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  #section3 .region_link {
    margin-right: 16px;
    font-size: 13px;
  }
}
#section3 .region_link:after {
  content: "";
  position: relative;
  display: inline-block;
  top: 1px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #13A2C6;
  border-right: 1px solid #13A2C6;
  margin: 0 2px;
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  #section3 .region_link:after {
    top: 0px;
    margin: 0 0 0 4px;
    width: 8px;
    height: 8px;
  }
}

#section4 {
  width: 1080px;
  margin: 0 auto 160px;
}
@media screen and (max-width: 767px) {
  #section4 {
    width: 100%;
    margin: 32px 0 0;
  }
}

.reserve_attention {
  background: #f5f5f5;
}
@media screen and (min-width: 768px) {
  .reserve_attention {
    padding: 32px;
    border-radius: 24px;
  }
}
@media screen and (max-width: 767px) {
  .reserve_attention {
    padding: 16px;
  }
}
.reserve_attention_title {
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .reserve_attention_title {
    margin-bottom: 16px;
    font-size: 15px;
  }
}
.reserve_attention_text {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .reserve_attention_text {
    font-size: 15px;
  }
}

/* ------------ bannerarea ------------ */
.banner_area {
  display: block;
  box-sizing: border-box;
  margin: 54px auto;
  width: 1200px;
}

.banner_area p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: 5a5a5a;
  margin: 0 0 24px 0;
}

.banner_field {
  display: flex;
  justify-content: center;
}

.banner_field img {
  margin: 0 30px;
  width: 300px;
  height: 100px;
}

/*---------------------------------------------
SMARTPHONES SIZE
----------------------------------------------*/
@media screen and (max-width: 767px) {
  /* ------------ common ------------ */
  img {
    max-width: 100%;
  }

  .sp_br {
    display: inline;
  }

  /* ------------ kv ------------ */
  #kv {
    width: 100%;
  }

  .kv_back {
    height: auto;
  }

  .kv_main {
    margin-top: auto;
    width: 100%;
  }

  #kv h1 {
    box-sizing: border-box;
    margin: 36px auto;
    padding: 0 20px;
    text-align: center;
    width: 100%;
  }

  #kv .kv_genre {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0 0px;
    width: 100%;
  }

  /* ------------ section01 ------------ */
  /* ------------ bannerarea ------------ */
  .banner_area {
    display: block;
    margin: 36px auto;
    width: 89%;
  }

  .banner_area p {
    font-size: 20px;
    margin: 0 0 26px 0;
  }

  .banner_field {
    flex-direction: column;
    justify-content: center;
  }

  .banner_field img {
    margin: 0 0 15px;
    width: 100%;
    height: auto;
  }

  .banner_field a:last-child img {
    margin: 0;
  }

  .successful_flow {
    box-sizing: border-box;
    margin: 36px auto;
    padding: 30px 24px;
    width: 89%;
  }
  .successful_flow h2 {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    width: 144px;
  }
  .successful_flow_image {
    margin: 24px auto 0;
    width: 100%;
  }
}