@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  color: #424242;
  position: relative;
}

p {
  line-height: 1.5;
}

a {
  color: #1177dd;
}
a:hover {
  text-decoration: underline;
}

main {
  display: block;
}

.ofi_cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

@media screen and (min-width: 768px) {
  .pc_br {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .pc_br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp_br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sp_br {
    display: inline;
  }
}

.anchor {
  display: block;
  padding-top: 40px;
  margin-top: -40px;
}
.anchor_coupon {
  display: block;
  padding-top: 60px;
  margin-top: -60px;
}
@media screen and (max-width: 767px) {
  .anchor_coupon {
    padding-top: 40px;
    margin-top: -40px;
  }
}

.header {
  border-bottom: 1px solid #e5e5e5;
}
.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .header_wrap {
    height: 48px;
    padding-left: 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header_wrap {
    padding-left: 16px;
  }
}
.header_logo {
  width: 148px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .header_logo {
    width: 96px;
  }
}

.bread_crumb {
  border-bottom: 1px solid #e5e5e5;
}
.bread_crumb .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}
.bread_crumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bread_crumb ul::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 767px) {
  .bread_crumb ul {
    min-height: 38px;
  }
}
.bread_crumb ul li {
  font-size: 12px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .bread_crumb ul li {
    font-size: 11px;
  }
  .bread_crumb ul li:first-child {
    padding-left: 16px;
  }
  .bread_crumb ul li:last-child {
    padding-right: 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bread_crumb ul li:first-child {
    padding-left: 16px;
  }
  .bread_crumb ul li:last-child {
    padding-right: 16px;
  }
}
.bread_crumb ul li:after {
  content: "";
  position: relative;
  display: inline-block;
  top: -1px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 8px 0 5px;
}
.bread_crumb ul li:last-child:after {
  display: none;
}

.footer {
  display: block;
  text-align: center;
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 68px;
  }
}
.footer .footer_wrap {
  padding: 20px 0;
  background: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap {
    padding: 16px 0;
  }
}
.footer .footer_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap ul {
    margin-bottom: 16px;
  }
}
.footer .footer_wrap ul li {
  font-size: 14px;
  padding: 0 0 0 8px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap ul li {
    font-size: 11px;
  }
}
.footer .footer_wrap ul li a {
  color: #424242;
  text-decoration: none;
}
.footer .footer_wrap ul li a:hover {
  text-decoration: underline;
}
.footer .footer_wrap ul li:after {
  content: "|";
  display: inline-block;
  padding: 0 0 0 8px;
}
.footer .footer_wrap ul li:last-child {
  padding-right: 8px;
}
.footer .footer_wrap ul li:last-child:after {
  content: "";
}
.footer .footer_wrap #copyright p {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer .footer_wrap #copyright p {
    font-size: 11px;
  }
}
.footer .ad_number {
  padding: 0 0 24px;
}
.footer .ad_number p {
  color: #424242;
  display: block;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer .ad_number p {
    font-size: 11px;
  }
}

[class^=section_] .inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 0;
}
@media screen and (max-width: 767px) {
  [class^=section_] .inner {
    padding: 32px 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  [class^=section_] .inner {
    padding: 64px 16px;
  }
}
[class^=section_] .inner h2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  [class^=section_] .inner h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
[class^=section_] .inner h2::after {
  content: "";
  display: block;
  width: 64px;
  margin: 4px auto 0;
  border-bottom: 4px solid #8985A8;
}
@media screen and (max-width: 767px) {
  [class^=section_] .inner h2::after {
    margin: 4px auto 0;
  }
}

.section_mv {
  font-size: 0;
}
.section_mv .inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section_mv .inner {
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .section_mv .inner {
    height: auto;
  }
}
.section_mv img {
  height: 500px;
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .section_mv img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_mv img {
    height: calc(100vw / 1080 * 500);
  }
}

@media screen and (min-width: 768px) {
  .section_01 .inner {
    padding: 40px 0;
    max-width: 768px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_01 .inner {
    padding: 40px 16px;
  }
}
.section_01 .lead {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .section_01 .lead {
    font-size: 13px;
  }
}

.section_02 .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -24px;
}
@media screen and (max-width: 767px) {
  .section_02 .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
.section_02 .step_box {
  width: calc(33.33% - 24px);
  min-width: 0;
  margin-left: 24px;
  padding: 16px;
  border: 4px solid #f5f5f5;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .section_02 .step_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto 16px;
  }
  .section_02 .step_box:last-child {
    margin-bottom: 0;
  }
}
.section_02 .step_box_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.section_02 .step_box_head {
  margin-bottom: 16px;
  padding: 8px 16px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #8985A8;
  border-radius: 24px;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .section_02 .step_box_head {
    padding: 4px 16px;
    font-size: 15px;
    border-radius: 14px;
    line-height: 1.5;
  }
}
.section_02 .step_box_image {
  margin-bottom: 16px;
  text-align: center;
  font-size: 0;
}
@media screen and (min-width: 768px) {
  .section_02 .step_box_image.pc {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .section_02 .step_box_image.pc {
    display: none;
  }
}
.section_02 .step_box_image.sp {
  min-width: 141px;
  margin-right: 16px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .section_02 .step_box_image.sp {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section_02 .step_box_image.sp {
    display: block;
  }
}
.section_02 .step_box_text {
  text-align: center;
  font-weight: bold;
}
.section_02 .step_box_text a {
  font-size: 15px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_02 .step_box_text a {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .section_02 .step_box_text {
    text-align: left;
    line-height: 1.5;
    font-size: 13px;
  }
}
.section_02 .step_attention {
  margin-top: 24px;
  font-size: 14px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .section_02 .step_attention {
    margin-top: 16px;
    font-size: 11px;
  }
}

.section_03 {
  background: #f5f5f5;
}
.section_03 .inner {
  max-width: 768px;
}
.section_03 .lead {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section_03 .lead {
    font-size: 13px;
    text-align: left;
  }
}
.section_03 .coupon_box {
  position: relative;
  margin-top: 38px;
  padding: 40px 52px 24px;
  background: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_box {
    margin-top: 32px;
    padding: 16px;
  }
}
.section_03 .coupon_box h3 {
  width: 200px;
  margin: -56px auto 20px;
  padding: 8px 16px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #8985A8;
  border-radius: 24px;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_box h3 {
    margin: -30px auto 20px;
    font-size: 15px;
  }
}
.section_03 .coupon_box h4 {
  margin-bottom: 8px;
  padding-left: 8px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  border-left: 4px solid #8985A8;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_box h4 {
    font-size: 15px;
  }
}
.section_03 .coupon_box_lead {
  margin-bottom: 24px;
  text-align: center;
}
.section_03 .coupon_box_lead span {
  color: #8985A8;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_box_lead {
    margin-bottom: 16px;
    text-align: left;
    font-size: 13px;
  }
}
.section_03 .coupon_ticket_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -24px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_ticket_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_03 .coupon_ticket_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -24px;
  }
}
.section_03 .coupon_ticket_image {
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  border-radius: 8px;
}
.section_03 .coupon_ticket_box {
  width: calc(50% - 24px);
  margin-left: 24px;
}
.section_03 .coupon_ticket_box:nth-child(n+3) {
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_ticket_box {
    width: 100%;
    margin: 0 0 16px;
  }
  .section_03 .coupon_ticket_box:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_03 .coupon_ticket_box {
    width: calc(50% - 24px);
    margin-left: 24px;
  }
  .section_03 .coupon_ticket_box:nth-child(n+3) {
    margin-top: 16px;
  }
}
.section_03 .coupon_ticket_box a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .section_03 .coupon_ticket_box a:hover {
    opacity: 0.7;
  }
}
.section_03 .coupon_ticket_trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  background: #a38400;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_ticket_trial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_03 .coupon_ticket_trial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.section_03 .coupon_ticket_trial_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_ticket_trial_box {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_03 .coupon_ticket_trial_box {
    margin: 0 0 0 24px;
  }
}
.section_03 .coupon_ticket_trial_image {
  margin-right: 24px;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_ticket_trial_image {
    margin: 0 0 16px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 568px) {
  .section_03 .coupon_ticket_trial_image {
    margin: 0 24px 0 0;
  }
}
.section_03 .coupon_ticket_trial_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.section_03 .coupon_ticket_trial_code_text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
  padding: 8px;
  background: #f1f1f1;
  font-size: 14px;
  color: #757575;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section_03 .coupon_ticket_trial_code_text.tooltip:before {
  content: "コピーしました";
  position: absolute;
  display: inline-block;
  top: -28px;
  margin: auto;
  background: #424242;
  color: #fff;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  line-height: 1.3;
}
@media all and (-ms-high-contrast: none) {
  .section_03 .coupon_ticket_trial_code_text.tooltip:before {
    left: 0;
    right: 0;
    width: 100px;
  }
}
.section_03 .coupon_ticket_trial_code_text.tooltip:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: -4px;
  width: 0;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #424242 transparent transparent transparent;
}
@media all and (-ms-high-contrast: none) {
  .section_03 .coupon_ticket_trial_code_text.tooltip:after {
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
  }
}
.section_03 .coupon_ticket_trial_code_copy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ffffff no-repeat;
  background-image: url(../images/1x/copy_icon.svg);
  background-size: 20px 20px;
  background-position: right 15px center;
  border-radius: 4px;
  color: #a38400;
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_ticket_trial_code_copy {
    padding: 8px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .section_03 .coupon_ticket_trial_code_copy:hover {
    opacity: 0.7;
  }
}
.section_03 .coupon_attention {
  margin-top: 24px;
  font-size: 14px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .section_03 .coupon_attention {
    margin-top: 16px;
    font-size: 11px;
  }
}

.section_04 .inner {
  max-width: 960px;
}
@media screen and (max-width: 767px) {
  .section_04 .inner {
    padding: 32px 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_04 .inner {
    max-width: none;
  }
}
.section_04 .recommend_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 40px;
  padding: 24px;
  background: #F7F4E4;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main {
    margin-bottom: 24px;
    padding: 16px;
  }
}
.section_04 .recommend_main_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.section_04 .recommend_main_name {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_name {
    font-size: 18px;
  }
}
.section_04 .recommend_main_price {
  margin-bottom: 16px;
  text-align: right;
  font-size: 0;
}
.section_04 .recommend_main_price .price {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_price .price {
    font-size: 18px;
  }
}
.section_04 .recommend_main_price .tax {
  margin-left: 2px;
  color: #757575;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_price .tax {
    font-size: 13px;
  }
}
.section_04 .recommend_main_price .shipping_fee {
  display: inline-block;
  margin-left: 2px;
  color: #757575;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_price .shipping_fee {
    font-size: 11px;
  }
}
.section_04 .recommend_main_price .shipping_fee.free {
  position: relative;
  padding: 2px;
  color: #8985A8;
  border: 1px solid #8985A8;
  font-size: 12px;
}
.section_04 .recommend_main_caption {
  margin-bottom: 16px;
  color: #8985A8;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_caption {
    font-size: 15px;
  }
}
.section_04 .recommend_main_detail {
  padding: 16px;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.section_04 .recommend_main_detail:nth-child(n+2) {
  margin-top: 16px;
}
.section_04 .recommend_main_detail dt {
  display: inline-block;
  padding: 4px;
  margin-bottom: 8px;
  min-width: 116px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  color: #fff;
  background: #8985A8;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_detail dt {
    min-width: 78px;
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_detail dd {
    font-size: 13px;
  }
}
.section_04 .recommend_main_image {
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0;
}
.section_04 .recommend_main_image img {
  max-width: 100%;
}
.section_04 .recommend_main_image.sp {
  margin: 0 auto 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section_04 .recommend_main_image.sp {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_image.sp {
    display: block;
  }
}
.section_04 .recommend_main_morelink {
  margin-top: 16px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .section_04 .recommend_main_morelink.sp {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_morelink.sp {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_morelink {
    font-size: 11px;
  }
}
.section_04 .recommend_main_morelink a:after {
  display: inline-block;
  content: "";
  margin-left: 3px;
  border: solid #1177dd;
  border-width: 1px 1px 0 0;
  padding: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_morelink a:after {
    padding: 4px;
  }
}
.section_04 .recommend_main_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .section_04 .recommend_main_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_main_right {
    display: none;
  }
}
.section_04 .recommend_caption {
  margin-bottom: 40px;
  padding: 16px;
  background: #f5f5f5;
  color: #8985A8;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.section_04 .recommend_caption span {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_caption span {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .recommend_caption {
    margin: 0 16px 24px;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 1.3;
  }
}
.section_04 .product + .product {
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .section_04 .product + .product {
    margin-top: 32px;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .product {
    margin: 0 16px;
  }
}
.section_04 .product h3 {
  margin-bottom: 24px;
  padding-left: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  border-left: 4px solid #8985A8;
}
@media screen and (max-width: 767px) {
  .section_04 .product h3 {
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.section_04 .product_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -24px;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list {
    margin-left: -16px;
  }
}
.section_04 .product_list_item {
  width: calc(25% - 24px);
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item {
    width: calc(50% - 16px);
    margin-left: 16px;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item:nth-child(n+3) {
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .section_04 .product_list_item:nth-child(n+5) {
    margin-top: 24px;
  }
}
.section_04 .product_list_item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #424242;
}
.section_04 .product_list_item a:hover {
  opacity: 0.7;
  text-decoration: none;
}
.section_04 .product_list_item_image {
  margin-bottom: 16px;
}
@media all and (-ms-high-contrast: none) {
  .section_04 .product_list_item_image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_image {
    margin-bottom: 8px;
  }
}
.section_04 .product_list_item_image img {
  max-width: 100%;
}
.section_04 .product_list_item_title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #1177dd;
  word-break: break-word;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_title {
    font-size: 15px;
  }
}
.section_04 .product_list_item_price {
  margin-bottom: 16px;
  text-align: right;
  line-height: 1.3;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_price {
    margin-bottom: 8px;
  }
}
.section_04 .product_list_item_price .price {
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_price .price {
    font-size: 15px;
  }
}
.section_04 .product_list_item_price .tax {
  margin-left: 2px;
  color: #757575;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_price .tax {
    font-size: 11px;
  }
}
.section_04 .product_list_item_price .shipping_fee {
  display: inline-block;
  margin-left: 2px;
  color: #757575;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_price .shipping_fee {
    font-size: 11px;
  }
}
.section_04 .product_list_item_price .shipping_fee.free {
  position: relative;
  padding: 2px;
  color: #8985A8;
  border: 1px solid #8985A8;
  font-size: 12px;
}
.section_04 .product_list_item_price .price_attention {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_price .price_attention {
    margin-top: 2px;
    font-size: 11px;
  }
}
.section_04 .product_list_item_text {
  margin-bottom: 16px;
  word-break: break-all;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_text {
    margin-bottom: 8px;
    font-size: 13px;
  }
}
.section_04 .product_list_item_morelink {
  position: relative;
  right: 3px;
  text-align: right;
  color: #1177dd;
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_morelink {
    font-size: 11px;
  }
}
.section_04 .product_list_item_morelink:after {
  display: inline-block;
  content: "";
  margin-left: 3px;
  border: solid #1177dd;
  border-width: 1px 1px 0 0;
  padding: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .section_04 .product_list_item_morelink:after {
    padding: 4px;
  }
}
.section_04 .product_caption {
  position: relative;
  width: 100%;
  margin: 0 0 24px;
  padding: 16px;
  text-align: center;
  line-height: 1.5;
  background: #F7F4E4;
}
@media screen and (max-width: 767px) {
  .section_04 .product_caption {
    margin-bottom: 20px;
    font-size: 13px;
  }
}
.section_04 .product_caption:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: #F7F4E4 transparent transparent transparent;
}
@media screen and (max-width: 767px) {
  .section_04 .product_caption:after {
    bottom: -14px;
    border-width: 14px 10px 0 10px;
  }
}
.section_04 .product_caption_wrap {
  margin: 24px 0 0;
}
@media screen and (max-width: 767px) {
  .section_04 .product_caption_wrap {
    margin: 16px 16px 0;
  }
}
.section_04 .product_morelink {
  display: block;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #1177dd;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  color: #1177dd;
}
@media screen and (max-width: 767px) {
  .section_04 .product_morelink {
    width: 100%;
    font-size: 13px;
  }
}
.section_04 .product_morelink:hover {
  opacity: 0.7;
  text-decoration: none;
}
.section_04 .product_morelink:after {
  content: "";
  background-image: url("../images/1x/external_icon.svg");
  display: inline-block;
  margin-left: 8px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.section_04 .product_morelink_attention {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .section_04 .product_morelink_attention {
    font-size: 12px;
  }
}

.section_05 {
  background: #f5f5f5;
}
.section_05 .inner {
  max-width: 960px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_05 .inner {
    max-width: none;
  }
}
.section_05 .main_attention ul li {
  position: relative;
  margin-left: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .section_05 .main_attention ul li {
    font-size: 13px;
  }
}
.section_05 .main_attention ul li:last-child {
  margin-bottom: 0;
}
.section_05 .main_attention ul li:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 6px;
  left: -16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8985A8;
}
@media screen and (max-width: 767px) {
  .section_05 .main_attention ul li:before {
    top: 4px;
  }
}

.section_06 .inner {
  max-width: 960px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_06 .inner {
    max-width: none;
  }
}
.section_06 .faq_box {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}
.section_06 .faq_box:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.section_06 .faq_question, .section_06 .faq_answer {
  position: relative;
  margin-left: 1.5em;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .section_06 .faq_question, .section_06 .faq_answer {
    font-size: 13px;
  }
}
.section_06 .faq_question:before, .section_06 .faq_answer:before {
  position: absolute;
  display: inline-block;
  width: 30px;
  left: -1.5em;
  font-size: 16px;
  font-weight: bold;
  content: "Q.";
  color: #8985A8;
}
@media screen and (max-width: 767px) {
  .section_06 .faq_question:before, .section_06 .faq_answer:before {
    top: -1px;
    font-size: 13px;
  }
}
.section_06 .faq_answer {
  margin-bottom: 0;
}
.section_06 .faq_answer:before {
  content: "A.";
  color: #29275E;
}

.section_banner {
  text-align: center;
}
.section_banner .inner {
  padding: 0 0 64px;
}
@media screen and (max-width: 767px) {
  .section_banner .inner {
    margin: 0 16px;
    padding: 0 0 32px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_banner .inner {
    padding: 0 16px 64px;
  }
}
.section_banner a:hover {
  opacity: 0.7;
}

.fix_footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 0 16px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(245, 245, 245, 0.85);
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .fix_footer {
    height: 68px;
  }
}
.fix_footer .fix_coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.fix_footer .fix_coupon a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  border-radius: 4px;
}
.fix_footer .fix_coupon a:nth-child(n+2) {
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  .fix_footer .fix_coupon a:nth-child(n+2) {
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fix_footer .fix_coupon a:hover {
    opacity: 0.7;
  }
}

.nav {
  background: #29275E;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav .inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 12px 0;
}
@media screen and (max-width: 767px) {
  .nav .inner {
    padding: 8px 0;
  }
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav ul li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .nav ul li {
    font-size: 13px;
    line-height: 1.3;
  }
}
.nav ul li:nth-child(n+2) {
  border-left: 1px solid #fff;
}
.nav ul li a {
  display: block;
  padding: 12px 0;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .nav ul li a {
    padding: 0;
  }
}
.nav ul li a:hover {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav ul li a:hover {
    color: #8985A8;
  }
  .nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    display: block;
    width: 80px;
    margin: 8px auto 0;
    border-bottom: 8px solid #8985A8;
  }
}