/* ------------ common ------------ */
.sp_display {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp_display {
    display: inline;
  }
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

h2 {
  margin-bottom: 16px;
  font-size: 21px;
  color: #424242;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 18px;
    line-height: 1.3;
  }
}

h3 {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 15px;
  }
}

/* ------------ section01 ------------ */
.section1 {
  max-width: 1080px;
  margin: 24px auto 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .section1 {
    width: 100%;
  }
}
.section1_wrap {
  margin-bottom: 48px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section1_wrap {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .section1_wrap {
    padding: 0 16px;
  }
}
.section1_text {
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .section1_text {
    font-size: 13px;
    line-height: 1.5;
  }
}
.section1_text:last-child {
  margin-bottom: 0;
}

.section2 {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .section2 {
    width: 100%;
  }
}
.section2_wrap {
  margin-bottom: 48px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section2_wrap {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .section2_wrap {
    padding: 0 16px;
  }
}
.section2_text {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .section2_text {
    font-size: 13px;
    line-height: 1.5;
  }
}
.section2_text:last-child {
  margin-bottom: 0;
}